.layout
	width: 100%
	display: flex
	flex-direction: column
	overflow: hidden
	+blur(0)
	+trs($globalAnimSpeed, filter)
	z-index: z('content')
	height: 100vh
	position: relative

	+after
		position: absolute
		top: 0
		bottom: 0
		left: 30%
		height: 100%
		width: 1px
		background-color: rgba($white, 0.1)
		z-index: z('bg')
		z-index: 10

	+before
		position: absolute
		top: 0
		left: 30%
		bottom: 0
		height: 5%
		width: 3px
		background-color: rgba($white, 0.5)
		z-index: z('bg')
		z-index: 10
		box-shadow: 0 0 10px 2px rgba($white, 0.5)
		border-radius: 2px
		animation: flash 5s infinite linear

	&.blurry
		+blur(8)


	&__hero
		position: relative
		min-height: 100vh
		height: 100vh
		display: block
		+r(768)
			padding: 15px 15px
			margin-bottom: 100px

	&__container
		display: flex
		flex-direction: column
		+r(768)
			padding: 15px

	&__item
		width: 100%
		overflow: hidden
		padding: vw(1920, $globalPadding)
		min-height: 100vh
		height: 100vh
		overflow: hidden
		display: flex
		border-radius: 8px
		position: relative
		background-color: rgba(#000, 0.75)
		+r(768)
			padding: 80px 15px
		&:last-child
			margin-bottom: 0

		&--fullwidth
			height: 100vh
			min-height: 500px
			padding: 40px 0
			box-shadow: none
			background-color: rgba(#000, 0.75)
			+r(1200)
				margin: 0 vw(1920, -120px)

			.layout__item-container
				background-color: transparent
				padding: 0

			.layout__item-title
				text-shadow: 10px 30px 100px rgba(#000, 1)

	&__pagination
		z-index: z('menu')
		+pa(vw(1920, $globalPadding+15px)!important, vw(1920, $globalPadding)!important, auto!important, auto!important)
		position: fixed !important
		width: auto !important
		display: flex
		align-items: center

	&__pagination-item
		width: 100% !important
		height: auto !important
		display: flex !important
		align-items: center !important
		text-align: center
		background-color: transparent !important
		border-radius: 0 !important
		font-family: $f2
		font-weight: 500
		text-transform: uppercase
		user-select: none
		margin: 0 !important
		margin-right: 40px !important
		+after(n)
			margin-left: 5px
			width: 40px
			height: 2px
			background-color: #FFF
		+before(n)
			margin-right: 5px
			width: 40px
			height: 2px
			background-color: #FFF
		&:last-child
			margin-right: 0 !important
			+after('none')
		&:first-child
			+before('none')

		// span
		// 	width: 10px
		// 	font-size: 16px
		// 	line-height: 14px
		// 	color: #FFF
		// 	text-transform: uppercase
		// 	+rotate(90)

	&__item-container
		// background-color: rgba(#000, 0.75)
		position: relative
		padding: 60px 15px
		// background-color: rgba(25,31,38,1)
		width: 100%
		display: flex
		flex-direction: column
		align-items: center


	&__slider
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		.swiper-pagination-bullets
			position: relative


	&__slider-wrapper
		width: 100%

	&__slider-item
		width: 100%


	&__item-title
		margin-bottom: 50px
		font-size: vw(1920, $globalPadding)
		line-height: vw(1920, 80px)
		font-weight: 700
		text-align: center
		text-shadow: 10px 30px 100px rgba(#000, 0.75)
		+r(1024)
			font-size: vw(1024, 70px)
			line-height: vw(1024, 50px)

		+r(768)
			font-size: vw(768, 70px)
			line-height: vw(768, 50px)

		+r(480)
			font-size: vw(480, 70px)
			line-height: vw(480, 50px)


	&__item-subtitle
		margin-bottom: 80px
		font-size: vw(1920, 60px)
		line-height: vw(1920, 48px)
		font-weight: 700
		text-align: center
		position: relative
		+r(1024)
			font-size: vw(1024, 70px)
			line-height: vw(1024, 70px)

		+r(768)
			font-size: vw(768, 50px)
			line-height: vw(768, 50px)
			margin-bottom: 60px

		+r(480)
			font-size: vw(480, 50px)
			line-height: vw(480, 50px)
			margin-bottom: 40px

		&:after, &:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			margin: auto 0
			height: 3px
			background-color: #fff
			width: 60px
		&:after
			left: -100px
		&:before
			right: -100px

		&--small
			font-size: vw(1920, 30px)
			+r(768)
				font-size: vw(768, 30px)
				line-height: vw(768, 30px)

			+r(480)
				font-size: vw(480, 24px)
				line-height: vw(480, 24px)

	&__item-bg
		pointer-events: none
		position: absolute
		top: 0
		left: vw(1920, 60px)
		right: vw(1920, 60px)
		bottom: 0
		z-index: 0

	&__item-bg-item
		position: absolute
		width: 1px
		top: 0
		height: 100%
		background-color: rgba(255,255,255,0.2)
		&--1
			left: calc(100% / 5)
		&--2
			left: 50%
		&--3
			right: calc(100% / 5)


+keyframes(flash)
	0%
		top: -100%
	10%
		top: 100%

	100%
		top: 100%
