$padW: 5vw
$padH: 8vh

.layout
	position: relative
	width: 100vw
	height: 100vh
	display: flex
	overflow: hidden
	flex-direction: column
	padding: 0 0 0 $padW
	+blur(0)
	+trs($globalAnimSpeed, filter)
	background-color: $white
	+r(768)
		padding: $padH*2 0 0 0

	&.blurry
		+blur(8)

	&__container
		display: flex
		width: 100%
		height: 100%
		z-index: 0
		position: relative

	&__item
		width: 100%
		height: 100%
		display: flex
		z-index: 0
		overflow: hidden

		&.swiper-slide-active

		&--hero

		&--works

	&__pagination
		width: auto
		display: flex
		flex-direction: row-reverse
		align-items: center
		+center('both', -90)


	&__pagination-item
		width: 100%
		height: auto
		display: flex
		align-items: center
		text-align: center
		font-size: 20px
		line-height: 20px
		background-color: transparent
		border-radius: 0
		font-family: $f4
		font-weight: 500
		text-transform: uppercase
		color: $black
		user-select: none
		margin: 0
		margin-right: 40px
		opacity: 0.75
		+tr

		&:last-child
			+after('none')
		&:first-child
			margin-left: 40px
			+before('none')

		+h
			opacity: 1
			cursor: pointer

		&.active
			opacity: 1

	&__slider
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		.swiper-pagination-bullets
			position: relative

	&__slider-wrapper
		width: 100%

	&__slider-item
		width: 100%

	&__left
		position: fixed
		left: 0
		top: 0
		bottom: 0
		width: $padW
		max-width: $padW
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		+r(768)
			bottom: 0
			width: $padW*2
			display: none

		.logo
			position: absolute
			top: 0
			width: 100%
			left: 0
			right: 0

	&__bottom
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: $padH
		padding-left: $padW
		padding-right: 20px
		display: flex
		align-items: center
		justify-content: space-between
		z-index: 101
		+r(768)
			bottom: auto
			top: 0
			height: $padH*2


	&__box
		display: flex
		flex-direction: column

	&__subtitle
		font-size: 16px
		font-family: $f4
		color: $black

	&__title
		font-size: $padH/1.5
		line-height: $padH/1.5
		margin-bottom: -10px
		font-family: $f4
		+textBorder(1px, $black)

	&__socials
		height: 100%
		padding: 5px 0
		display: flex
		align-items: center
		justify-content: center
		+r(768)
			position: absolute
			left: 0
			top: 0
			width: $padW*2
			height: 100%
			flex-direction: column
			display: none

	&__socials-item
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		margin-left: 30px
		opacity: 0.75
		+tr
		&:first-child
			margin-left: 0
			+r(768)
				margin-top: 0
		+h
			opacity: 1
		+r(768)
			width: 100%
			height: auto


		svg
			width: auto
			max-width: 30px
			height: 100%
			fill: $black
			+r(768)
				max-height: 30px
				width: 100%

		&--cv

