{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "parserOpts": {
  	"plugins": ["transform-object-rest-spread", "transform-es2015-spread", "transform-es2015-destructuring"]
  },
  "plugins": [
  ["prismjs", {
    "languages": [
      "applescript",
      "css",
      "javascript",
      "markup",
      "scss",
      "sass"
    ],
    "plugins": ["line-numbers"],
    // "theme": "twilight",
    "css": true
  }]
  ]
}
