---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="shatter">
	<div class="shatter__container js-shatter-container">
		<img src="img/space2.jpg" class="js-shatter">
	</div>
	<!-- <div class="hero__container js-shatter-container">
		<img src="img/space.jpg" class="js-shatter 2">
	</div> -->
</div>


<div class="test">
	<div class="test__container">
		<div class="test__img-container js-shatter-container">
			<img src="img/img.png" alt="" class="test__img js-shatter" />
		</div>
		<div class="test__img-container js-shatter-container">
			<img src="img/img.png" alt="" class="test__img js-shatter" />
		</div>
		<div class="test__img-container js-shatter-container">
			<img src="img/img.png" alt="" class="test__img js-shatter" />
		</div>
	</div>
</div>

{% include "./partials/_pet.html" %}


{% endblock %}
