---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="hero">
	<div class="hero__container js-shatter-container">
		<img src="img/space.jpg" class="js-shatter">
	</div>
	<!-- <div class="hero__container js-shatter-container">
		<img src="img/space.jpg" class="js-shatter 2">
	</div> -->
</div>


<div class="test">
	<div class="test__container">
		<div class="test__img-container js-shatter-container">
			<img src="img/img.png" alt="" class="test__img js-shatter" />
		</div>
		<div class="test__img-container js-shatter-container">
			<img src="img/img.png" alt="" class="test__img js-shatter" />
		</div>
		<div class="test__img-container js-shatter-container">
			<img src="img/img.png" alt="" class="test__img js-shatter" />
		</div>
	</div>
</div>
<!-- <div class="first-screen">
	<div class="first-screen__center">

		<div class="circle">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>

	</div>
	<div class="first-screen__bg">
		<div class="first-screen__bg-item first-screen__bg-item--top"></div>
		<div class="first-screen__bg-item first-screen__bg-item--bot"></div>
	</div>


</div> -->


{% include "partials/_works.html" %}



<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/delaunay.js"></script>


{% endblock %}
