---
title: CV Roman Yakovenko
---
{% extends "layouts/_layoutcv.html" %}

{% block content %}

{% import "data/data.html" as data %}



<div class="cv">
	<div class="cv-left">

		<div class="cv-left__avatar-container">
			<!-- <img src="/img/cv/avatar" alt="" class="cv-left__avatar"> -->
			<div class="cv-left__avatar2">RY</div>
		</div>

		<div class="cv-left__block">
			<div class="cv-left__title">info</div>

			<div class="cv-left__item">
				<div class="cv-left__icon">{{icon.i('pin')}}</div>
				<div class="cv-left__box">
					<a class="cv-left__box-subtitle" href="{{data.global.locationLink}}" target="blank">Kyiv, Ukraine <br>Darnitsky district</a>

				</div>
			</div>
			<div class="cv-left__item">
				<div class="cv-left__icon">{{icon.i('phone2')}}</div>
				<div class="cv-left__box">
					<a class="cv-left__box-subtitle" href="{{data.global.phoneLink}}">{{data.global.phone}}</a>
				</div>
			</div>

			<div class="cv-left__item">
				<div class="cv-left__icon">{{icon.i('at')}}</div>
				<div class="cv-left__box">
					<a class="cv-left__box-subtitle" href="mailto:{{data.global.email}}">{{data.global.email}}</a>
				</div>
			</div>

		</div>

		<div class="cv-left__block">
			<div class="cv-left__title">social</div>

			<div class="cv-left__item">
				<div class="cv-left__icon">{{icon.i('telegram')}}</div>
				<div class="cv-left__box">
					<!-- <div class="cv-left__box-title">Telegram</div> -->
					<a class="cv-left__box-subtitle" href="tg://@nevejestvo" target="blank">@nevejestvo</a>
				</div>
			</div>

			<div class="cv-left__item">
				<div class="cv-left__icon">{{icon.i('linkedin')}}</div>
				<div class="cv-left__box">
					<!-- <div class="cv-left__box-title">Linkedin</div> -->
					<a class="cv-left__box-subtitle" href="https://www.linkedin.com/in/nevejestvo/" target="blank">/in/nevejestvo</a>
				</div>
			</div>

		</div>

		<div class="cv-left__block cv-left__block--interests">
			<div class="cv-left__title">interests</div>

			<div class="cv-left__list">
				<div class="cv-left__item">
					<div class="cv-left__icon">{{icon.i('gamepad')}}</div>
				</div>

				<div class="cv-left__item">
					<div class="cv-left__icon">{{icon.i('earphones')}}</div>
				</div>

				<div class="cv-left__item">
					<div class="cv-left__icon">{{icon.i('origami')}}</div>
				</div>

				<div class="cv-left__item">
					<div class="cv-left__icon">{{icon.i('puzzle')}}</div>
				</div>

				<div class="cv-left__item">
					<div class="cv-left__icon">{{icon.i('fishing')}}</div>
				</div>

				<div class="cv-left__item">
					<div class="cv-left__icon">{{icon.i('bycicle')}}</div>
				</div>
			</div>

		</div>

		<div class="cv-left__block">
			<div class="cv-left__title">folio</div>

			<div class="cv-left__item">
				<div class="cv-left__icon">{{icon.i('website21')}}</div>
				<div class="cv-left__box">
					<a class="cv-left__box-subtitle" href="{{data.global.folio.link}}" target="blank">{{data.global.folio.name}}</a>
				</div>
			</div>

			<div class="cv-left__item">
				<div class="cv-left__box">
					<div class="cv-left__box-subtitle">or scan this great QR code</div>
				</div>
			</div>

			<div class="cv-left__item cv-left__item--qr">
				<div class="cv-left__icon">{{icon.i('qr')}}</div>
			</div>

		</div>

	</div>


	<div class="cv-right">

		<div class="cv-header">
			<div class="cv-header__title">Roman Yakovenko</div>
			<div class="cv-header__subtitle">frontend developer</div>
			<div class="cv-header__subtitle2">Salary: <span>1500$</span></div>
		</div>

		<div class="cv-right__container">
			<div class="cv-right__title">
				<span>Work experience</span>
				<div class="cv-right__title-icon">
					{{icon.i('workExperience')}}
				</div>
			</div>

			<div class="cv-right__item">

				<div class="cv-right__info">

					<div class="cv-right__info-title">
						Freelance, continue learning
						<div class="cv-right__year">
							<div class="cv-right__year-item"> (2019 <span>sept</span></div>
							<div class="cv-right__year-item">for now)</div>
						</div>
					</div>

					<div class="cv-right__info-subtitle2">
						Implementation of new technologies, which fasten the development process and increases overall performance of development and marketing team.
						<br> Released projects:
						<a href="http://inffinder.com/">Inffinder</a>,
						<a href="https://www.nowayout.ae/">NoWayOut</a>,
						<a href="https://melbourne.enescape.com/">Enescape</a>,
						<a href="http://www.semaz.kz/ru">Semaz</a>,
						<a href="http://www.daewoobus.kz/ru">Daewoobus</a>,
						<a href="http://www.hotelnomad.kz/">Nomad</a>,
						<a href="https://www.incrify.com/">Incrify</a>.
					</div>

				</div>
			</div>


			<div class="cv-right__item">

				<div class="cv-right__info">

					<div class="cv-right__info-title">
						Incrify
						<div class="cv-right__year">
							<div class="cv-right__year-item"> (2018 <span>sept</span></div>
							<div class="cv-right__year-item">2019 <span>jun</span>)</div>
						</div>
					</div>

					<div class="cv-right__info-subtitle">Frontend Developer</div>

					<div class="cv-right__info-subtitle2">
						Implementation of new technologies, which fasten the development process and increases overall performance of development and marketing team.
						<br> Released projects:
						<a href="http://inffinder.com/">Inffinder</a>,
						<a href="https://www.nowayout.ae/">NoWayOut</a>,
						<a href="https://melbourne.enescape.com/">Enescape</a>,
						<a href="http://www.semaz.kz/ru">Semaz</a>,
						<a href="http://www.daewoobus.kz/ru">Daewoobus</a>,
						<a href="http://www.hotelnomad.kz/">Nomad</a>,
						<a href="https://www.incrify.com/">Incrify</a>.
					</div>
				</div>
			</div>

			<div class="cv-right__item">

				<div class="cv-right__info">

					<div class="cv-right__info-title">
						Agency of Industrial Marketing
					</div>

					<div class="cv-right__info-subtitle">Head of IT Department
						<div class="cv-right__year">
							<div class="cv-right__year-item"> (2018 <span>jun</span></div>
							<div class="cv-right__year-item">2018 <span>sept</span>)</div>
						</div>
					</div>

					<div class="cv-right__info-subtitle2">Experience in managing a team of up to 5 specialists. Building workflows. Setting tasks for specialists and monitoring their implementation. Communication with other departments. Prototyping the products.</div>

					<div class="cv-right__info-subtitle">
						Frontend Developer
						<div class="cv-right__year">
							<div class="cv-right__year-item"> (2017 <span>dec</span></div>
							<div class="cv-right__year-item">2018 <span>jun</span>)</div>
						</div>
					</div>

					<div class="cv-right__info-subtitle2">
						Support of corporate site. Creating new functionality. Code refactoring. Creating new landings. Employment in other projects.
						<!-- <br> released projects: <a href="https://aimarketing.info">aimarketing.info</a>, <a href="https://saf.net.ua">saf.net.ua</a>, <a href="https://itlight.su">itlight.su</a> -->
					</div>
				</div>
			</div>

			<div class="cv-right__item">

				<div class="cv-right__info">

					<div class="cv-right__info-title">
						Freelance, learning
						<div class="cv-right__year">
							<div class="cv-right__year-item"> (2016 <span>aug</span></div>
							<div class="cv-right__year-item">2017 <span>dec</span>)</div>
						</div>
					</div>

					<!-- <div class="cv-right__info-subtitle">HTML coder</div> -->
					<div class="cv-right__info-subtitle2">Layout on the psd, jpg picture, "as on that site" and "think of something yourself"</div>
				</div>
			</div>

		</div>


		<div class="cv-right__container">

			<div class="cv-right__title">
				<span>Education</span>
				<div class="cv-right__title-icon">
					{{icon.i('education2')}}
				</div>
			</div>

			<!-- <div class="cv-right__item">
				<div class="cv-right__year">
					<span class="cv-right__year-begin">2017 <span class="cv-right__year-month">aug</span></span>
					-
					<span class="cv-right__year-end">2017 <span class="cv-right__year-month">spt</span></span>
				</div>
				<div class="cv-right__info">
					<div class="cv-right__info-title">Coderiver course of HTML Coder</div>
					<div class="cv-right__info-subtitle2">Learned: <br> BEM, SASS, Template engines, Animations, JS logic</div>
				</div>
			</div> -->

			<div class="cv-right__item">

				<div class="cv-right__info">
					<div class="cv-right__info-title">
						National Transport University
						<div class="cv-right__year">
							<div class="cv-right__year-item"> (2011 <span>spt</span></div>
							<div class="cv-right__year-item">2016 <span>aug</span>)</div>
						</div>
					</div>
					<div class="cv-right__info-subtitle">Specialist Degree</div>
					<div class="cv-right__info-subtitle2">Information management systems and technologies.<br>Qualification of Software Engineer.</div>
				</div>
			</div>

		</div>


		<div class="cv-footer">

			<div class="cv-footer__col">

				<div class="cv-right__title">
					<span>Skills</span>
					<div class="cv-right__title-icon">
						{{icon.i('skills')}}
					</div>
				</div>

				<div class="cv-skills">
				{% for item in data.skills %}
					<div class="cv-skills__item">
						<div class="cv-skills__title">{{item.title}}</div>
						<div class="cv-skills__progress">
							<div class="cv-skills__progress-overlay" style="width: {{item.skill}}"></div>
						</div>
					</div>
				{% endfor %}
				</div>

			</div>

			<div class="cv-footer__col">

				<div class="cv-right__title">
					<span>Technologies</span>
					<div class="cv-right__title-icon">
						{{icon.i('technologies')}}
					</div>
				</div>

				<div class="cv-technologies">
				{% for item in data.technologies %}
					<div class="cv-technologies__item">{{item.title}}</div>
				{% endfor %}
				</div>

			</div>


		</div>

	</div>


	{% endblock %}
