---
title: CV Roman Yakovenko
---
{% extends "layouts/_layoutcv.html" %}

{% block content %}

{% import "data/data.html" as data %}

<div class="cv">
	<div class="cv-left">

		<div class="avatar">
			<img src="./img/cv/2.png" alt="" class="avatar__img">
			<div class="avatar__text">¯\_(ツ)_/¯</div>
		</div>

		<div class="cv-left__block">
			<div class="cv-left__title">contacts, info</div>

			{% include "./cv/_leftInfo.html" %}
		</div>

		<div class="cv-left__block">
			<div class="cv-left__title">goal</div>

			<div class="cv-left__item">
				<div class="cv-left__box-subtitle cv-left__box-subtitle--goal">
					Seeking a position of a <i>middle Frontend developer</i> with the opportunity to work in a team of professionals, to constantly expand my skillset and participate in challenging projects.
				</div>
			</div>

		</div>

		<div class="cv-left__block cv-left__block--interests">
			<div class="cv-left__title">hobby</div>

			{% include "./cv/_leftHobby.html" %}
		</div>

		<div class="cv-left__block cv-left__block--folio">
			<div class="cv-left__title">folio</div>

			{% include "./cv/_leftFolio.html" %}
		</div>

	</div>


	<div class="cv-right">

		<div class="cv-header">
			<div class="cv-header__box">
				<div class="cv-header__title">Roman Yakovenko</div>
				<div class="cv-header__subtitle">
					<div>frontend developer <span>middle</span><span> (2 years of experience)</span></div>

				</div>
				<!-- <div class="cv-header__subtitle2">Salary: <span>1500$</span></div> -->
			</div>
		</div>

		<div class="cv-right__container">
			<div class="cv-right__title">
				<span>Work experience</span>
				<div class="cv-right__title-icon">
					{{icon.i('workExperience')}}
				</div>
			</div>

			{% include "./cv/_rightExperience.html" %}

		</div>

		<div class="cv-right__container cv-right__container--2col">
			{% include "./cv/_rightSkills.html" %}
		</div>

		<div class="cv-right__container">
			<div class="cv-right__title">
				<span>Responsibilities</span>
				<div class="cv-right__title-icon">
					{{icon.i('cog')}}
				</div>
			</div>

			{% include "./cv/_rightResponsibilities.html" %}
		</div>

		<div class="cv-right__container">
			<div class="cv-right__title">
				<span>Education</span>
				<div class="cv-right__title-icon">
					{{icon.i('education2')}}
				</div>
			</div>

			{% include "./cv/_rightEducation.html" %}
		</div>


	</div>


	{% endblock %}
