---
title: Roman Yakovenko | Frontend Developer
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% import "data/data.html" as data %}

{% include "./partials/_menu.html" %}
<div class="layout js-blurry swiper-container js-slider-layout">

	<div class="layout__left">
		{% include "./partials/_logo.html" %}
		<div class="layout__pagination js-slider-layout-pagination"></div>
	</div>

	<div class="layout__container swiper-wrapper">

		<div class="layout__item layout__item--hero swiper-slide" data-backword="hi, i am" data-title="HOME"  data-hash="home" data-history="home">
			{% include "./partials/_0hero.html" %}
		</div>

		<div class="layout__item layout__item--works swiper-slide" data-backword="works" data-title="works" data-hash="works" data-history="works">
			{% include "./partials/_2works.html" %}
		</div>

	</div>

</div>

{% endblock %}



