---
title: Roman Yakovenko | Frontend Developer
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% import "data/data.html" as data %}

{# include "./partials/_pet.html" #}

{# include "./partials/_menu.html" #}
<div class="layout-blur"></div>

<div class="layout swiper-container js-slider-layout js-blurry">

	<div id="jsReflection" class="reflection js-reflection js-reflection-production"></div>

	<div class="layout__pagination js-slider-layout-pagination"></div>

	<div class="layout__container swiper-wrapper">

		<div id="anchorHome" class="layout__item layout__item--hero js-hero swiper-slide" data-backword="hi, i am" data-title="HOME" >
			{% include "./partials/_0hero.html" %}
		</div>

		<div id="anchorWorks"  class="layout__item layout__item--works swiper-slide" data-backword="works" data-title="works">
			{% include "./partials/_2works.html" %}
		</div>

	</div>

</div>





{% endblock %}



