---
title: Roman Yakovenko | Frontend Developer
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% import "data/data.html" as data %}

<div class="layout">

	<div class="layout__sidebar">
		{% include "./partials/_logo.html" %}

		<div class="layout__sidebar-social">
				{% for item in data.socialsHero %}
				<a href="{{item.link}}" class="layout__sidebar-social-item" target="_blank">{{icon.i(item.icon)}}</a>
				{% endfor %}
				<a href="{{data.global.cv.downloadlink}}" class="layout__sidebar-social-item layout__sidebar-social-item--cv" download>{{icon.i('cv5')}}</a>
		</div>
	</div>

	<div class="layout__container">

		<div class="layout__item layout__item--hero">
			{% include "./partials/_hero.html" %}
		</div>

		<div class="layout__item layout__item--works">
			{% include "./partials/_works.html" %}
		</div>

	</div>

</div>

{% endblock %}



