---
title: Index test
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# variable example #}
	<h1>{{title}}</h1>


	{# mixin example #}
	{{icon.i('logo')}}

	{# data usage example #}
		{% import "data/data.html" as tests %}

		{# {% include "../partials/_media-tags.html" %} #}

		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}

		{% for test in range(0, 4) %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}


	{# nav example  begin #}
		{% for item in nav.nav %}

		<li class="navigation__item {% if title == item.title %}current{% endif %}">

			<a href="{{ item.link }}.html" class="navigation__link">{% if title == item.title %}{{ title }}{% else %}{{ item.title }}{% endif %}</a>

			{% if item.sublist|length %}
			<ul class="navigation__sublist">

				{% for inside in item.sublist %}
				<li class="navigation__sublist-item">
					<a href="{{ inside.link }}.html" class="navigation__link navigation__link--sublist">{{ inside.item }}</a>

					{% if inside.sublist2|length %}
					<ul class="navigation__sublist2">
						{% for inside2 in inside.sublist2 %}
						<li class="navigation__sublist2-item">
							<a href="{{ inside2.link }}.html" class="navigation__link navigation__link--sublist2">{{ inside2.item }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}

					{% endfor %}
				</li>

			</ul>
			{% endif %}

		</li>

		{% endfor %}

	{# nav example end #}



	<div class="layout js-blurry">

		<div class="layout__bg">
			<div class="layout__bg-item layout__bg-item--1"></div>
			<div class="layout__bg-item layout__bg-item--2"></div>
			<div class="layout__bg-item layout__bg-item--3"></div>
		</div>

		<div id="anchorHome" class="layout__hero js-hero">
			{% include "./partials/_0hero.html" %}
		</div>

		<div class="layout__container js-trigger-cases">

			<div id="anchorAbout" class="layout__item">
				<div class="layout__item-container">

					<div class="layout__item-bg">
						<div class="layout__item-bg-item layout__item-bg-item--1"></div>
						<div class="layout__item-bg-item layout__item-bg-item--2"></div>
						<div class="layout__item-bg-item layout__item-bg-item--3"></div>
					</div>

					<div class="layout__item-title">About me</div>

					{% include "./partials/_1about.html" %}

				</div>
			</div>

			<div id="anchorWorks" class="layout__item layout__item--fullwidth js-scroll-snap">
				<div class="layout__item-container">

					<div class="layout__item-title">Works</div>

					{% include "./partials/_2works.html" %}

				</div>
			</div>


			<div id="anchorContacts" class="layout__item js-scroll-snap">
				<div class="layout__item-container">
					<div class="layout__item-bg">
						<div class="layout__item-bg-item layout__item-bg-item--1"></div>
						<div class="layout__item-bg-item layout__item-bg-item--2"></div>
						<div class="layout__item-bg-item layout__item-bg-item--3"></div>
					</div>

					<div class="layout__item-title">Contacts</div>

					{% include "./partials/_3contacts.html" %}

				</div>
			</div>

		</div>
	</div>


{% endblock %}
