---
title: Index test
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# variable example #}
	<h1>{{title}}</h1>


	{# mixin example #}
	{{icon.i('logo')}}

	{# data usage example #}
		{% import "data/data.html" as tests %}

		{# {% include "../partials/_media-tags.html" %} #}

		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}

		{% for test in range(0, 4) %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}


	{# nav example  begin #}
		{% for item in nav.nav %}

		<li class="navigation__item {% if title == item.title %}current{% endif %}">

			<a href="{{ item.link }}.html" class="navigation__link">{% if title == item.title %}{{ title }}{% else %}{{ item.title }}{% endif %}</a>

			{% if item.sublist|length %}
			<ul class="navigation__sublist">

				{% for inside in item.sublist %}
				<li class="navigation__sublist-item">
					<a href="{{ inside.link }}.html" class="navigation__link navigation__link--sublist">{{ inside.item }}</a>

					{% if inside.sublist2|length %}
					<ul class="navigation__sublist2">
						{% for inside2 in inside.sublist2 %}
						<li class="navigation__sublist2-item">
							<a href="{{ inside2.link }}.html" class="navigation__link navigation__link--sublist2">{{ inside2.item }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}

					{% endfor %}
				</li>

			</ul>
			{% endif %}

		</li>

		{% endfor %}

	{# nav example end #}


{% endblock %}
