---
title: Cheats (gulp)
---

{% extends "layouts/_layoutRoadmap.html" %} {% block content %} {% import
"data/roadmap.html" as roadmap %}

<div class="roadmap">
	<div class="roadmap__left">
		<div class="roadmap__list">
			{% for item in roadmap.roadmap %}

			<div class="roadmap__item">
				<div
					class="roadmap__item-main js-item"
					data-content="{{item.file}}"
				>
					{{item.title}}
				</div>

				{% if item.subitem|length %} {% for subitem in item.subitem %}
				<div
					class="roadmap__item-secondary roadmap-{{subitem.status}} {{ 'roadmap__item-secondary--overlay' if subitem.subitem2|length }} js-item"
					data-content="{{subitem.file}}"
				>
					{{subitem.title}} {% if subitem.subitem2|length %}
					<div class="roadmap__item-overlay">
						{% for subitem2 in subitem.subitem2 %}
						<div class="roadmap__item-overlay-item">
							{{subitem2.title}}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				{% endfor %} {% endif %}
			</div>

			{% endfor %}
		</div>
		<div class="roadmap__legend">
			<div class="roadmap__legend-item">
				<div class="roadmap__legend-text">learned and used</div>
				<div class="roadmap__legend-color roadmap-learned"></div>
			</div>
			<div class="roadmap__legend-item">
				<div class="roadmap__legend-text">learning now</div>
				<div class="roadmap__legend-color roadmap-learning"></div>
			</div>
			<div class="roadmap__legend-item">
				<div class="roadmap__legend-text">reading about</div>
				<div class="roadmap__legend-color roadmap-knowABit"></div>
			</div>
			<div class="roadmap__legend-item">
				<div class="roadmap__legend-text">need to learn</div>
				<div class="roadmap__legend-color roadmap-forFuture"></div>
			</div>
			<div class="roadmap__legend-item">
				<div class="roadmap__legend-text">not interested</div>
				<div class="roadmap__legend-color roadmap-shit"></div>
			</div>
		</div>
	</div>

	<div class="roadmap__content">
		{% for item in roadmap.roadmap %} {% if item.file|length %}

		<div
			class="roadmap__content-item js-content"
			data-content="{{item.file}}"
		>
			<div class="roadmap__content-item-title">{{item.title}}</div>
			<div class="roadmap__content-text">
				{% include "./roadmap/_" + item.file + ".html" %}
			</div>
		</div>

		{% if item.subitem|length %} {% for subitem in item.subitem %} {% if
		subitem.file|length %}
		<div
			class="roadmap__content-item js-content"
			data-content="{{subitem.file}}"
		>
			<div class="roadmap__content-item-title">{{subitem.title}}</div>
			<div class="roadmap__content-text">
				{% include "./roadmap/_" + subitem.file + ".html" %}
			</div>
		</div>
		{% endif %} {% endfor %} {% endif %} {% endif %} {% endfor %}
	</div>
</div>

{% endblock %}
