	<div class="hero">
	<div class="hero__title">Roman Yakovenko</div>
	<div class="hero__subtitle">
		<span class="-"></span>
		Frontend developer
	</div>
	<div class="hero__copyright">Roman Yakovenko - 2019</div>

	<div class="hero__arrow">{{icon.i('arrow')}}</div>

	<div class="hero__social">
		<a href="" class="hero__social-item">
			{{icon.i('facebook')}}
		</a>
		<a href="" class="hero__social-item">
			{{icon.i('facebook')}}
		</a>
		<a href="" class="hero__social-item">
			{{icon.i('facebook')}}
		</a>
	</div>
</div>
