{% import "../data/data.html" as data %}

<div class="hero">
	<div class="hero__title">Roman Yakovenko</div>
	<div class="hero__subtitle">
		<span class="-"></span>
		Frontend developer
	</div>
	<a href="{{data.global.cv.downloadlink}}" class="hero__link" download>Download CV</a>

	<div class="hero__arrow">{{icon.i('arrow')}}</div>

	<div class="hero__social">
		{% for item in data.socials %}
		<a href="{{item.link}}" class="hero__social-item">{{icon.i(item.icon)}}</a>
		{% endfor %}
	</div>
</div>
