{% import "../data/roadmap.html" as roadmap %}

<div class="lifepath">
	<div class="lifepath__item">
		<div class="lifepath__date">1994</div>
		<div class="lifepath__dot">6 <span>y</span></div>
		<!-- <div class="lifepath__description">1994</div> -->
		<div class="lifepath__overlay"></div>
	</div>
	<div class="lifepath__item">
		<div class="lifepath__date">2000</div>
		<div class="lifepath__dot">11<span>y</span></div>
		<div class="lifepath__description">School</div>
		<div class="lifepath__overlay"> best period of my life</div>
	</div>
	<div class="lifepath__item">
		<div class="lifepath__date">2011</div>
		<div class="lifepath__dot">5<span>y</span></div>
		<div class="lifepath__description">NTU University</div>
		<div class="lifepath__overlay"> best period of my life</div>
	</div>
	<div class="lifepath__item lifepath__item--actual">
		<div class="lifepath__date">2017</div>
		<div class="lifepath__dot">6<span>m</span></div>
		<div class="lifepath__description">training</div>
		<div class="lifepath__overlay">0 </div>
	</div>
	<div class="lifepath__item lifepath__item--actual">
		<div class="lifepath__date">2018</div>
		<div class="lifepath__dot">8<span>m</span></div>
		<div class="lifepath__description">AIM</div>
		<div class="lifepath__overlay"> best period of my life</div>
	</div>
	<div class="lifepath__item lifepath__item--actual">
		<div class="lifepath__date">2019</div>
		<div class="lifepath__dot">8<span>m</span></div>
		<div class="lifepath__description">Incrify</div>
		<div class="lifepath__overlay"> best period of my life</div>
	</div>
	<div class="lifepath__item lifepath__item--actual">
		<div class="lifepath__date">2019</div>
		<div class="lifepath__dot">6<span>m</span></div>
		<div class="lifepath__description">training, <br />freelance</div>
		<div class="lifepath__overlay"> best period of my life</div>
	</div>
</div>

<div class="layout__item-subtitle layout__item-subtitle--small">roadmap of frontend technologies</div>

<div class="roadmap">
	<div class="roadmap__list">

		{% for item in roadmap.roadmap %}

		<div class="roadmap__item">

			<div class="roadmap__item-main">{{item.title}}</div>

			{% if item.subitem|length %}
			{% for inside in item.subitem %}
			<div class="roadmap__item-secondary roadmap-{{inside.status}} {{ 'roadmap__item-secondary--overlay' if inside.subitem2|length }}">
				{{inside.title}}
				{% if inside.subitem2|length %}
				<div class="roadmap__item-overlay">
					{% for inside2 in inside.subitem2 %}
					<div class="roadmap__item-overlay-item">{{inside2.title}}</div>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% endfor %}
			{% endif %}

		</div>

		{% endfor %}


	</div>
	<div class="roadmap__legend">
		<div class="roadmap__legend-item">
			<div class="roadmap__legend-text">learned and used</div>
			<div class="roadmap__legend-color roadmap-learned"></div>
		</div>
		<div class="roadmap__legend-item">
			<div class="roadmap__legend-text">learning now</div>
			<div class="roadmap__legend-color roadmap-learning"></div>
		</div>
		<div class="roadmap__legend-item">
			<div class="roadmap__legend-text">reading about</div>
			<div class="roadmap__legend-color roadmap-knowABit"></div>
		</div>
		<div class="roadmap__legend-item">
			<div class="roadmap__legend-text">need to learn</div>
			<div class="roadmap__legend-color roadmap-forFuture"></div>
		</div>
		<div class="roadmap__legend-item">
			<div class="roadmap__legend-text">not interested</div>
			<div class="roadmap__legend-color roadmap-shit"></div>
		</div>
	</div>
</div>

