<div class="works js-slider-works">
	<div class="works__slider swiper-wrapper">

		{% for item in data.works %}
		<div class="works__item swiper-slide js-work-item" data-stagger="{{loop.index}}">
			<div class="works__item-container js-tilt">

				<!-- <div class="works__subtitle">{{item.descr}}</div> -->

				<div class="works__title">
					<span>{{item.title}}</span>
				</div>

				<div class="works__logo js-work-logo">
					<img class="works__logo-img" src="./img/works/svg/{{item.logo}}"></img>
				</div>

				<a href="{{item.link}}" target="{{item.linkTarget}}" class="works__link">
					{{item.linkTitle}}
					{{icon.i('linkExternal')}}
				</a>

				<div class="works__img-container">
				{% if item.img|length %}
					<div class="works__img-preloader swiper-lazy-preloader" style="background-color: {{item.accent}}"></div>
					{% for i in item.img %}
					<div class="works__img-parallax js-parallax swiper-lazy" data-background="./img/works/{{i.imgItem}}" data-swiper-parallax="33.375%"></div>
					{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
	<div class="works__scrollbar js-slider-works-scrollbar"></div>
	<div class="works__arrow works__arrow--prev js-slider-works-button-prev">{{icon.i('arrow')}}</div>
	<div class="works__arrow works__arrow--next js-slider-works-button-next">{{icon.i('arrow')}}</div>
	<!-- <div class="works__pagination js-slider-works-pagination"></div> -->
</div>

