<div class="works js-slider-works">
	<div class="works__slider swiper-wrapper">

		{% for item in data.works %}
		<div class="works__item swiper-slide js-work-item" style="--animation-order: {{loop.index}};">
			<div class="works__item-container js-tilt">

				<!-- <div class="works__subtitle">{{item.descr}}</div> -->

				<div class="works__title" style="--color: {{item.accent}};">{{item.title}}</div>

				<div class="works__logo js-work-logo">
					<img class="works__logo-img" src="./img/works/svg/{{item.logo}}"></img>
				</div>

				{% if item.disabled %}
					<div class="works__link works__link--disabled">
						¯\_(ツ)_/¯
					</div>
				{% else %}
					<a href="{{item.link}}" target="{{item.linkTarget}}" class="works__link"  style="--colorHover: {{item.accent}};">
						{{item.linkTitle}}
						{{icon.i('linkExternal')}}
					</a>
				{% endif %}

				<div class="works__img-container">
				{% if item.img|length %}
					<div class="works__img-preloader swiper-lazy-preloader" style="background-color: {{item.accent}}"></div>
					{% for i in item.img %}
					<div class="works__img-parallax js-parallax swiper-lazy" data-background="./img/works/{{i.imgItem}}" data-swiper-parallax-x="13%" data-swiper-parallax-duration="1000"></div>
					{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
	<div class="works__scrollbar js-slider-works-scrollbar"></div>
	<div class="works__arrow works__arrow--prev js-slider-works-button-prev">{{icon.i('arrow')}}</div>
	<div class="works__arrow works__arrow--next js-slider-works-button-next">{{icon.i('arrow')}}</div>
	<!-- <div class="works__pagination js-slider-works-pagination"></div> -->
</div>

