<div class="contacts">

	<div class="contacts__img-container">
		<div class="contacts__img"></div>
		<div class="contacts__box">
			<div class="contacts__title">{{data.global.name}} {{data.global.surname}}</div>
			<a href="mailto:{{data.global.email}}" class="contacts__item">{{data.global.email}}</a>
			<a href="https://t.me/Nevejestvo" class="contacts__item" target="blank">telegram</a>
			<a href="https://www.linkedin.com/in/nevejestvo/" class="contacts__item" target="blank">linked in</a>
			<a href="{{data.global.locationLink}}" class="contacts__item" target="blank">kiev, ukraine</a>
		</div>
	</div>

</div>
