<div class="contacts">

	<div class="contacts__item">
		<div class="contacts__img-container">
			<div class="contacts__img"></div>
		</div>
		<div class="contacts__box">
			<div class="contacts__title">Roman Yakovenko</div>
			<a href="mailto:{{data.global.email}}" class="contacts__subtitle">{{data.global.email}}</a>
			<a href="https://t.me/Nevejestvo" class="contacts__subtitle" target="blank">telegram</a>
			<a href="https://www.linkedin.com/in/nevejestvo/" class="contacts__subtitle" target="blank">linked in</a>
			<a href="{{data.global.locationLink}}" class="contacts__link" target="blank">kiev, ukraine</a>
		</div>
	</div>

</div>
