<div class="contacts">

	<div class="contacts__item">
		<div class="contacts__img-container">
			<div class="contacts__img"></div>
		</div>
		<div class="contacts__box">
			<div class="contacts__title">Roman Yakovenko</div>
			<a href="mailto:" class="contacts__subtitle">paradiseseeker94@gmail.com</a>
			<a href="https://t.me/Nevejestvo" class="contacts__subtitle">telegram</a>
			<a href="https://www.google.com/maps/place/data=!3m1!4b1!4m5!3m4!1s0x40d4c49afe7caa71:0x10e58a34c8ec2b96!8m2!3d50.4153964!4d30.6935992" target="blank" class="contacts__link">kiev, ukraine</a>
		</div>
	</div>

</div>
