<div class="works">
    <div class="works__container">
        <div class="works__title-container">
            <div class="works__title">Works</div>
        </div>
        <div class="works__slider">
            <div class="works__slider-container">

                <div class="works__slider-item">

                    <div class="work-card">
                        <div class="work-card__container">
                            <div class="work-card__title">Title</div>

                            <div class="work-card__img-container">
                                <img src="img/space.jpg" alt="" class="work-card__img" />
                                <div class="work-card__img-reflection-container">
                                    <img src="img/space.jpg" alt="" class="work-card__img-reflection" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="works__slider-item ">

                    <div class="work-card active">
                        <div class="work-card__container">
                            <div class="work-card__title">Title</div>

                            <div class="work-card__img-container">
                                <img src="img/space.jpg" alt="" class="work-card__img" />
                                <div class="work-card__img-reflection-container">
                                    <img src="img/space.jpg" alt="" class="work-card__img-reflection" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="works__slider-item">

                    <div class="work-card">
                        <div class="work-card__container">
                            <div class="work-card__title">Title</div>

                            <div class="work-card__img-container">
                                <img src="img/space.jpg" alt="" class="work-card__img" />
                                <div class="work-card__img-reflection-container">
                                    <img src="img/space.jpg" alt="" class="work-card__img-reflection" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

