<h3>Клиенты и серверы</h3>

<p>Компьютеры, подключенные к сети называются клиентами и серверами. Упрощенная схема того, как они взаимодействуют, может выглядеть следующим образом:</p>

<img src="https://mdn.mozillademos.org/files/8973/Client-server.jpg" alt="" />

<ol>
	<li>Клиенты являются обычными пользователями, подключенными к Интернету посредством устройств (например, компьютер подключен к Wi-Fi, или ваш телефон подключен к мобильной сети) и программного обеспечения, доступного на этих устройствах (как правило, браузер, например, Firefox или Chrome).</li>
	<li>Серверы - это компьютеры, которые хранят веб-страницы, сайты или приложения. Когда клиентское устройство пытается получить доступ к веб-странице, копия страницы загружается с сервера на клиентский компьютер для отображения в браузере пользователя.</li>
</ol>

<h5>Помимо клиента и сервера, мы также должны уделить внимание:</h5>

<ol>
	<li><b>Ваше Интернет-подключение:</b> <br /> Позволяет отправлять и принимать данные по сети. Оно подобно улице между домом и магазином.</li>
	<li><b>TCP/IP:</b> <br /> Протокол Управления Передачей и Интернет Протокол являются коммуникационными протоколами, которые определяют, каким образом данные должны передаваться по сети. Они как транспортные средства, которые позволяют сделать заказ, пойти в магазин и купить ваши товары. В нашем примере, это как автомобиль или велосипед (или собственные ноги).</li>
	<li><b>DNS:</b> <br /> Система Доменных Имён напоминает записную книжку для веб-сайтов. Когда вы вводите веб-адрес в своем браузере, браузер обращается к DNS, чтобы найти реальный адрес веб-сайта, прежде чем он сможет его получить. Браузеру необходимо выяснить, на каком сервере живет сайт, поэтому он может отправлять HTTP-сообщения в нужное место (см. Ниже). Это похоже на поиск адреса магазина, чтобы вы могли попасть в него.</li>
	<li><b>HTTP:</b> <br /> Протокол Передачи Гипертекста - это протокол, который определяет язык для клиентов и серверов, чтобы общаться друг с другом. Он, как язык, который вы используете, чтобы заказать ваш товар.</li>
	<li><b>Файлы компонентов:</b> <br /> сайт состоит из нескольких различных файлов, которые подобны различным отделам с товарами в магазине. <br />
		<p><b>Эти файлы бывают двух основных типов:</b></p>
		<b>Файлы кода:</b> <br /> сайты построены преимущественно на HTML, CSS и JavaScript, хотя вы познакомитесь с другими технологиями чуть позже. <br /> <br />
		<b>Материалы:</b> <br /> это собирательное название для всех других вещей, составляющих сайт, такие как изображения, музыка, видео, документы Word и PDF.</li>
</ol>

<h4>Что же на самом деле происходит?</h4>

<p>Когда вы вводите веб-адрес в свой браузер (для нашей аналогии - посещаете магазин):</p>

<ol>
	<li>Браузер обращается к DNS серверу и находит реальный адрес сервера, на котором "живет" сайт (Вы находите адрес магазина).</li>
	<li>Браузер посылает HTTP запрос к серверу, запрашивая его отправить копию сайта для клиента (Вы идёте в магазин и заказываете товар). Это сообщение и все остальные данные, передаваемые между клиентом и сервером, передаются по интернет-соединению с использованием протокола TCP/IP.</li>
	<li>Если сервер одобряет запрос клиента, сервер отправляет клиенту статус "200 ОК", который означает: "Конечно, вы можете посмотреть на этот сайт! Вот он", а затем начинает отправку файлов сайта в браузер в виде небольших порций, называемых пакетными данными (магазин выдает вам ваш товар или вам привозят его домой).</li>
	<li>Браузер собирает маленькие куски в полноценный сайт и показывает его вам (товар прибывает к вашей двери — новые вещи, потрясающе!).</li>
</ol>

<h4>DNS</h4>

<p>Реальные веб-адреса - неудобные, незапоминающиеся строки, которые Вы вводите в адресную строку, чтобы найти ваши любимые веб-сайты. Эти строки состоят из чисел, например: <code>63.245.215.20</code>.</p>

<p>Такой набор чисел называется <a title='IP адрес - это число, назначенное каждому устройству, подключённому к сети, которая использует Интернет-протокол. Термин "IP адрес" обычно означает 32-разрядные IPv4 адреса, но до тех пор, пока IPv6 не получит более широкое применение.' href="https://developer.mozilla.org/ru/docs/%D0%A1%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D1%8C/IP_Address">IP-адресом</a> и представляет собой уникальное местоположение в Интернете. Впрочем, его не очень легко запомнить, правда? Вот почему изобрели DNS. Это специальные сервера, которые связывают веб-адрес, который вы вводите в браузере (например, "mozilla.org"), с реальным IP-адресом сайта.</p>

<h4>Пакеты</h4>

<p>"Пакеты" - формат, в котором данные передаются от сервера к клиенту. Когда данные передаются через Интернет, они отправляются в виде тысячи мелких кусочков, так что множество разных пользователей могут скачивать один и тот же сайт одовременно. Если бы сайты отправлялись одним большим куском, тогда бы только один пользователь мог скачать его за один раз, и это, очевидно, сделало бы пользование интернетом не эффективным и не очень радостным.</p>




<h4>На примере одного запроса</h4>

<p>Допу­стим, вы&nbsp;захо­те­ли открыть глав­ную стра­ни­цу «Яндек­са». Вот как всё будет про­ис­хо­дить.</p>
<p>Вы&nbsp;набра­ли в&nbsp;бра­у­зе­ре адрес yandex.ru. Опус­кая тех­ни­че­ские подроб­но­сти, ска­жем, что ваш бра­у­зер узнал, что сайт yandex.ru живёт на&nbsp;ком­пью­те­ре с&nbsp;адре­сом 77.88.55.80.</p>
<p>77.88.55.80&nbsp;— это IP-адрес. Такой адрес есть у&nbsp;всех ком­пью­те­ров в&nbsp;интер­не­те, в&nbsp;том чис­ле у&nbsp;ваше­го. Ваш бра­у­зер гово­рит ком­пью­те­ру: «Сде­лай запрос на&nbsp;77.88.55.80».</p>
<p>Ком­пью­тер упа­ко­вы­ва­ет этот запрос: ста­вит отмет­ку «от кого», «кому», фор­му­ли­ру­ет сам вопрос. Полу­ча­ет­ся такой пакет дан­ных. Он отправ­ля­ет этот пакет той коро­боч­ке, кото­рая сто­ит у&nbsp;вашей две­ри и&nbsp;мига­ет огонь­ка­ми.</p>
<img class="alignnone wp-image-1163 size-medium" src="https://thecode.media/wp-content/uploads/2019/04/10_6-1024x681.jpg" alt="Как устроен интернет: Компьютер отправляет пакет данных маршрутизатору" width="1024" height="681" srcset="https://thecode.media/wp-content/uploads/2019/04/10_6-1024x681.jpg 1024w, https://thecode.media/wp-content/uploads/2019/04/10_6-320x213.jpg 320w, https://thecode.media/wp-content/uploads/2019/04/10_6-1080x718.jpg 1080w, https://thecode.media/wp-content/uploads/2019/04/10_6-768x511.jpg 768w, https://thecode.media/wp-content/uploads/2019/04/10_6.jpg 1456w" sizes="(max-width: 1024px) 100vw, 1024px">
<p>Роу­тер смот­рит, что за&nbsp;адрес. Он&nbsp;видит, что ника­ких ком­пью­те­ров с&nbsp;таким адре­сом к&nbsp;это­му роу­те­ру не&nbsp;под­клю­че­но, поэто­му пере­да­ёт запрос более стар­ше­му роу­те­ру&nbsp;— на&nbsp;кры­ше подъ­ез­да.</p>
<p>Роу­тер на&nbsp;кры­ше видит, что ника­ких ком­пью­те­ров с&nbsp;нуж­ным адре­сом к&nbsp;нему тоже не&nbsp;под­клю­че­но. Он&nbsp;отда­ёт запрос выше, на&nbsp;рай­он­ный роу­тер. Тот ещё выше, про­вай­де­ру.</p>
<p>У&nbsp;про­вай­де­ра на&nbsp;роу­те­ре напи­са­на чёт­кая инструк­ция, что если при­дёт запрос на&nbsp;адрес 77.88.55.80, нуж­но пере­дать его вон тому роу­те­ру. Он&nbsp;это дела­ет. Мы&nbsp;ока­зы­ва­ем­ся на&nbsp;маги­страль­ном кана­ле, кото­рый при­ве­дёт запрос в «Яндекс».</p>
<img class="alignnone wp-image-1164 size-medium" src="https://thecode.media/wp-content/uploads/2019/04/10_7-1024x681.jpg" alt="Как устроен интернет: От роутера к роутеру на&nbsp;магистральный канал" width="1024" height="681" srcset="https://thecode.media/wp-content/uploads/2019/04/10_7-1024x681.jpg 1024w, https://thecode.media/wp-content/uploads/2019/04/10_7-320x213.jpg 320w, https://thecode.media/wp-content/uploads/2019/04/10_7-1080x718.jpg 1080w, https://thecode.media/wp-content/uploads/2019/04/10_7-768x511.jpg 768w, https://thecode.media/wp-content/uploads/2019/04/10_7.jpg 1456w" sizes="(max-width: 1024px) 100vw, 1024px">
<p>У «Яндек­са» тыся­чи сер­ве­ров, и&nbsp;один из&nbsp;них отве­ча­ет за&nbsp;глав­ную стра­ни­цу. Он&nbsp;полу­чил запрос через цепоч­ку роу­те­ров и&nbsp;теперь обра­ба­ты­ва­ет.</p>
<p>Про­грам­ма на&nbsp;сер­ве­ре «Яндек­са» гото­вит ответ на&nbsp;запрос. Она смот­рит, из&nbsp;како­го горо­да к&nbsp;нему обра­ща­ют­ся, и&nbsp;ком­по­ну­ет ново­сти для это­го горо­да. Опре­де­ля­ет, зна­ет&nbsp;ли она это­го поль­зо­ва­те­ля, и&nbsp;если зна­ет&nbsp;— пока­зы­ва­ет ему чис­ло непро­чи­тан­ных в&nbsp;поч­то­вом ящи­ке. Ещё она совер­ша­ет мно­же­ство неви­ди­мых дей­ствий, что­бы опти­ми­зи­ро­вать стра­ни­цу.</p>
<p>Код ито­го­вой стра­ни­цы про­грам­ма паку­ет по малень­ким паке­там и&nbsp;отда­ёт на бли­жай­ший роу­тер. На каж­дом паке­те напи­сан обрат­ный адрес, с&nbsp;кото­ро­го изна­чаль­но при­шёл запрос. Роу­тер начи­на­ет искать, как бы доста­вить эти паке­ты обрат­но. Он отправ­ля­ет их на маги­страль, там роу­те­ры пере­да­ют эти паке­ты про­вай­де­ру, он их направ­ля­ет в&nbsp;нуж­ный рай­он, в&nbsp;рай­оне их отправ­ля­ют в&nbsp;дом, подъ­езд и, нако­нец, квар­ти­ру.</p>
<p>Паке­ты при­хо­дят в&nbsp;вашу коро­боч­ку у&nbsp;две­ри. Она нахо­дит, какой ком­пью­тер запра­ши­вал дан­ные из «Яндек­са», и&nbsp;отправ­ля­ет ему по&nbsp;бес­про­вод­ной свя­зи толь­ко что при­шед­шие паке­ты.</p>
<p>Ваш ком­пью­тер полу­ча­ет паке­ты, рас­па­ко­вы­ва­ет их, соби­ра­ет цель­ный текст и&nbsp;рису­ет из это­го тек­ста стра­ни­цу.</p>
<p>На&nbsp;весь путь из&nbsp;вашей квар­ти­ры до&nbsp;сер­ве­ра «Яндек­са» и&nbsp;обрат­но ушло мень­ше секун­ды, но&nbsp;в&nbsp;про­цес­се было задей­ство­ва­но не&nbsp;менее пяти­де­ся­ти машин&nbsp;— роу­те­ров и&nbsp;сер­ве­ров. Ваш запрос физи­че­ски про­пу­те­ше­ство­вал до&nbsp;сер­ве­ра «Яндек­са» и&nbsp;вер­нул­ся. У&nbsp;вас ощу­ще­ние, буд­то вы&nbsp;зашли в «Яндекс», но&nbsp;на&nbsp;самом деле «Яндекс» при­шёл в&nbsp;ваш дом.</p>
<p>Это толь­ко самые осно­вы. Даль­ше раз­бе­рём, что мож­но с&nbsp;эти­ми зна­ни­я­ми делать, как рабо­та­ют бло­ки­ров­ки интер­не­та и&nbsp;поче­му они на&nbsp;самом деле не&nbsp;рабо­та­ют, а&nbsp;глав­ное&nbsp;— как сде­лать соб­ствен­ный сайт, кото­рый будет рабо­тать не&nbsp;хуже «Яндек­са».</p>
