<h3>Что такое куки?</h3>

<p>Куки — это малень­кий файл с дан­ны­ми, кото­рый хра­нит­ся у вас на ком­пью­те­ре. Обыч­но в нём хра­нят дан­ные о том, был ли уже поль­зо­ва­тель на этом сай­те, и если да — то под каким име­нем и что там делал.</p>

<p>Куки не могут выполниться сами по себе, что-то сделать или удалить важный файл. Это просто текст, который лежит на компьютере. Когда у куки заканчивается срок годности, браузер её удаляет, но есть бессрочные куки: они сами не удаляются, но и не вредят при этом компьютеру. Единственное, что делает куки — <b>хранит нужную информацию для сайта.</b></p>


<h5>на практике обычно используется для</h5>

<ol>
	<li>аутентификации пользователя;</li>
	<li>хранения персональных предпочтений и настроек пользователя;</li>
	<li>отслеживания состояния сеанса доступа пользователя;</li>
	<li>сведения статистики о пользователях.</li>
</ol>

<p>Cookie легко перехватить и подменить (например, для получения доступа к учётной записи), если пользователь использует нешифрованное соединение с сервером. В группе риска пользователи, выходящие в интернет при помощи публичных точек доступа Wi-Fi и не использующие при этом таких механизмов, как SSL и TLS. Шифрование позволяет также решить и другие проблемы, связанные с безопасностью передаваемых данных.</p>

<h4>Понятие</h4>

<p>В техническом плане cookie представляют собой фрагменты данных, изначально отправляемых веб-сервером браузеру. При каждом последующем посещении сайта браузер пересылает их обратно серверу. Без cookie каждый просмотр веб-страницы является изолированным действием, не связанным с просмотром других страниц того же сайта, с помощью же cookie можно выявить связь между просмотром разных страниц. </p>

<p>Спецификации указывают минимальные объёмы, которые должны предоставляться браузерами для хранения cookie. Так, браузер должен хранить по меньшей мере 300 cookie по 4096 байт каждая, и по меньшей мере 20 cookie для одного сервера или домена.</p>

<p><b>Имена cookie нечувствительны к регистру</b></p>

<p>Cookie могут устанавливать дату их удаления, в этом случае они будут автоматически удалены браузером в указанный срок. Если дата удаления не указана, cookie удаляются сразу, как только пользователь закроет браузер. Таким образом, указание даты истечения позволяет сохранить cookie более чем на один сеанс и такие cookie называются постоянными. Например, интернет-магазин может использовать постоянные cookie для хранения кодов предметов, которые пользователь поместил в корзину покупок — и даже если пользователь закроет браузер, не совершив покупки, при последующем входе ему не придётся формировать корзину заново.</p>

<p>Хранение cookie также может ограничиваться в зависимости от веб-сервера, домена или поддомена, где они были созданы.</p>

<h4>Типы cookie</h4>

<ol>
	<li><b>Сессионные</b> - также известные как временные cookie, существуют только во временной памяти, пока пользователь находится на странице веб-сайта. Браузеры обычно удаляют сессионные cookie после того, как пользователь закрывает окно браузера. В отличие от других типов cookie, сессионные cookie не имеют истечения срока действия, и поэтому браузеры понимают их как сессионные.</li>
	<li><b>Постоянные</b> - Вместо того, чтобы удаляться после закрытия браузера, как это делают сессионные cookie, постоянные cookie-файлы удаляются в определённую дату или через определённый промежуток времени. Это означает, что информация о cookie будет передаваться на сервер каждый раз, когда пользователь посещает веб-сайт, которому эти cookie принадлежат. По этой причине постоянные cookie иногда называются следящие cookie, поскольку они могут использоваться рекламодателями для записи о предпочтениях пользователя в течение длительного периода времени. Однако, они также могут использоваться и в «мирных» целях, например, чтобы избежать повторного ввода данных при каждом посещении сайта.</li>
	<li><b>Сторонние</b> - Обычно атрибут домена cookie совпадает с доменом, который отображается в адресной строке веб-браузера. Это называется первый файл cookie. Однако сторонний файл cookie принадлежит домену, отличному от того, который указан в адресной строке. Этот тип файлов cookie обычно появляется, когда веб-страницы содержат контент с внешних веб-сайтов, например рекламные баннеры. Это открывает возможности для отслеживания истории посещений пользователя и часто используется рекламодателями для предоставления релевантной рекламы каждому пользователю.</li>
	<li>
		<b>Супер</b> - это cookie-файл с источником домена верхнего уровня (например, .ru) или общедоступным суффиксом (например, .co.uk). Обычные cookie, напротив, имеют происхождение от конкретного доменного имени, например example.com. <br />
		<p>Супер-cookie могут быть потенциальной проблемой безопасности и поэтому часто блокируются веб-браузерами. Если браузер разблокирует вредоносный веб-сайт, злоумышленник может установить супер-cookie и потенциально нарушить или выдать себя за законные запросы пользователей на другой веб-сайт, который использует тот же домен верхнего уровня или общедоступный суффикс, что и вредоносный веб-сайт. Например, супер-cookie с происхождением .com может злонамеренно повлиять на запрос к example.com, даже если файл cookie не был создан с сайта example.com. Это может быть использовано для подделки логинов или изменения информации пользователя.</p>
	</li>
	<li><b>Зомби</b> - Поскольку cookie можно очень легко удалить из браузера, программисты ищут способы идентифицировать пользователей даже после полной очистки истории браузера. Одним из таких решений являются зомби-cookie (или evercookie, или persistent cookie) — не удаляемые или трудно удаляемые cookie, которые можно восстановить в браузере с помощью JavaScript. Это возможно потому, что для хранения куков сайт одновременно использует все доступные хранилища браузера (HTTP ETag, Session Storage, Local Storage, Indexed DB), в том числе и хранилища приложений, таких как Flash Player (Local Shared Objects), Microsoft Silverlight (Isolated Storage) и Java (Java persistence API). Когда программа обнаруживает отсутствие в браузере cookie-файла, информация о котором присутствует в других хранилищах — она тут же восстанавливает его на место и, тем самым, идентифицирует пользователя для сайта.</li>
</ol>

<h4>Параметры cookie</h4>

<p><a href="https://tools.ietf.org/html/rfc6265" title="">RFC 6265</a> дает конкретные указания, как нужно интерпретировать каждый из параметров cookie:</p>

<p><code>name</code> устанавливает имя cookie-файла.</p>
<p><code>value</code> сохраняет значение cookie, которое будет идентифицировать пользователя или содержать служебную информацию.</p>
<p><code>expires</code> и <code>max-age</code> определяют срок жизни cookie, по истечению которого она будет автоматически удалена. Если не указать этот параметр, или установить его значение в ноль, то cookie будут автоматически удалены при закрытии браузера. Для параметра <code>expires</code> указывается конечная дата в формате <i>Tue, 01-Sep-2020 10:50:22 GMT,</i> тогда как для <code>max-age</code> устанавливается количество секунд жизни cookie с момента установки её в браузер.</p>
<p><code>path</code> указывает путь к директории на сервере, для которой будут доступны cookie. Если указать корневой каталог <code>/</code>, то cookie будут доступны всему домену. По умолчанию значением является текущая директория, из которой cookie устанавливаются в браузер.</p>
<p><code>domain</code> отмечает, какой домен или поддомен имеет доступ к этой cookie. Для того, чтобы сделать cookie доступными для всего домена (включая поддомены), нужно просто указать имя домена (например <i>example.com</i>).</p>
<p><code>secure</code> параметр указывает браузеру, что cookie должны передаваться на сервер только по защищенному https-соединению.</p>
<p><code>httponly</code> параметр запрещает доступ к cookie посредством API <code>document.cookie</code>. Эта возможность была предложена в качестве меры для эффективного предотвращения краж cookie посредством XSS-атак.</p>
<p><code>samesite</code> это относительно новый параметр (определенный в <a rel="nofollow" class="external text" href="https://tools.ietf.org/html/draft-ietf-httpbis-cookie-same-site-00">RFC 6265bis</a>), который сообщает браузерам, что cookie не должны отсылаться с межсайтовыми запросами. Это в некотором роде обеспечивает защиту от межсайтовых подделок запроса (CSRF). У этого параметра есть три состояния, которые определяют поведение cookie для различных сценариев пользования сайтом.</p>
<p><code>samesite=none</code> прямо указывает, что на передачу cookie-файлов не накладывается никаких ограничений.</p>
<p><code>samesite=lax</code> разрешает передачу cookie только безопасными HTTP-методами, которыми, согласно RFC 7231, являются GET, HEAD, OPTIONS и TRACE.</p>
<p><code>samesite=strict</code> или просто <code>samesite</code> является самым строгим вариантом безопасности и блокирует отправку cookie с любыми запросами от других ресурсов. Cookie будут передаваться только в пределах того домена, с которого они и были установлены.</p>

<h4>Доступ из JavaScript посредством <code>Document.cookie</code></h4>


<pre class="language-javascript">
	<code>
		document.cookie = "yummy_cookie=choco";
		document.cookie = "tasty_cookie=strawberry";
		console.log(document.cookie);
		// logs "yummy_cookie=choco; tasty_cookie=strawberry"
	</code>
</pre>

