<p>
	HTML (от англ. HyperText Markup Language — «язык гипертекстовой разметки») — язык разметки, определяющий структуру веб-страниц.
</p>

<img src="https://mdn.mozillademos.org/files/7659/anatomy-of-an-html-element.png" alt="" />


<p>
	HTML принято сохранять с расширением .htm или .html, которые обслуживаются сервером, и могут воспроизводиться любым <a href="#" title='это программа которая извлекает и показывает страницы из Web, и даёт пользователям доступ к веб-страницам через гиперссылки.'>браузером</a>.
</p>


<p>
	HTML (HyperText Markup Language - язык гипертекстовой разметки) не является языком программирования; это язык разметки, используемый для определения структуры веб-страниц. HTML состоит из ряда элементов, которые вы используете для того, чтобы охватить, обернуть или разметить различные части содержимого, чтобы оно имело определенный вид или срабатывало определенным способом. Встроенные тэги могут преобразовать часть содержимого в гиперссылку, по которой можно перейти на другую веб-страницу, выделить курсивом слова и так далее.
</p>

<p>
	Основными частями элемента являются:

	Открывающий тег: Он состоит из названия (обозначения) элемента (в нашем случае, p), помещённого внутри угловых скобок. Данный тег служит признаком начала элемента, с этого момента тег начинает влиять на следующее после него содержимое.
	Закрывающий тег: выглядит как и открывающий, но содержит слэш перед названием тега. Он служит признаком конца элемента. Пропуски закрывающих тегов — типичная ошибка новичков, которая может приводить к неопределённым результатам — в лучшем случае всё сработает правильно, в других страница может вовсе не прорисоваться или прорисоваться не как ожидалось.
	Содержимое: Как видно, в нашем случае содержимым является простой текст.
	Элемент: открывающий тег + закрывающий тег + содержимое = элемент.
</p>


<!-- <p>
	Существует две важных категории элементов в HTML, которые вам стоит знать — элементы блочного уровня и строчные элементы.

	Элементы блочного уровня формируют видимый блок на странице — они окажутся на новой строке после любого контента, который шёл до них, и любой контент после них также окажется на новой строке. Чаще всего элементами блочного уровня бывают структурные элементы страницы, представляющие собой, например, параграфы (абзацы), списки, меню навигации, футеры, или подвалы, и т. п. Элементы блочного уровня не вкладываются в строчные элементы, но иногда могут вкладываться в другие элементы блочного уровня.
	Строчные элементы — это те, которые содержатся в элементах блочного уровня и окружают только малые части содержимого документа, не целые абзацы и группировки контента. Строчные элементы не приводят к появлению новой строки в документе: они обычно встречаются внутри абзаца текста, например, элемент <a> (ссылка) или акцентирующие элементы вроде <em> или <strong>.
	</p> -->


	<a href="https://html.spec.whatwg.org/multipage/indices.html#element-content-categories">Element content categories</a>


	<pre class="language-javascript">
		<code>
			alert('it works!');
		</code>
	</pre>

	<pre class="language-sass line-numbers">
		<code>
			.roadmap
				width: 100%
				min-height: 100vh
				display: flex

				&__left
					position: fixed
					left: 0
					top: 0
					height: 100%
					width: 100%
					max-width: 260px
					display: flex
					flex-direction: column
		</code>
	</pre>

	<pre class="language-javascript line-numbers">
		<code>
			const things = [
			'Playground',
			'Strategy',
			'Galley',
			'Mailman',
			'Reference',
			'Suit',
			];
		</code>
	</pre>

