<p>Fetch is a new-ish, promise-based API that lets us do Ajax requests without all the fuss associated with <strong>XMLHttpRequest</strong>. As you’ll see in this post, Fetch is very easy to use and work with and greatly simplifies fetching resources from an API. Plus, it’s now supported in all modern browsers, so using Fetch is really a no-brainer.</p>

<h5>Get Requests</h5>

<p>Let’s demonstrate a simple GET request by going and <em>GET</em> ourselves some dummy data from the <a href="https://jsonplaceholder.typicode.com/">JSONPlaceholder</a> API:</p>

<pre>
	<code class="language-javascript line-numbers">
		fetch('https://jsonplaceholder.typicode.com/users')
		  .then(res => res.json())
		  .then(res => res.map(user => user.username))
		  .then(userNames => console.log(userNames));
	</code>
</pre>

<p>And the output will be an array of user names like this:</p>

<pre>
	<code class="language-javascript line-numbers">
		["Bret", "Antonette", "Samantha", "Karianne", "Kamren", "Leopoldo_Corkery", "Elwyn.Skiles", "Maxime_Nienow", "Delphine", "Moriah.Stanton"]
	</code>
</pre>

<p>Given that we expect a JSON response, we first need to call the <code>json()</code> method to transform the <code>Response</code> object into an object that we can interact with. The <code class="highlighter-rouge">text()</code> could be used if we expected an XML response instead.</p>

<h5>Post, Put and Delete Requests</h5>

<p>To make requests other than <strong>GET</strong>, pass-in an object as a second argument to a fetch call with the method to use as well as any needed headers and the body of the request:</p>

<pre>
	<code class="language-javascript line-numbers">
		const myPost = {
		  title: 'A post about true facts',
		  body: '42',
		  userId: 2
		}

		const options = {
		  method: 'POST',
		  body: JSON.stringify(myPost),
		  headers: {
		    'Content-Type': 'application/json'
		  }
		};

		fetch('https://jsonplaceholder.typicode.com/posts', options)
		  .then(res => res.json())
		  .then(res => console.log(res));
	</code>
</pre>

<p><strong>JSONPlaceholder</strong> sends us the POSTed data back with an ID attached:</p>

<pre>
	<code class="language-javascript line-numbers">
		Object {
		  body: 42,
		  id: 101,
		  title: "A post about true facts",
		  userId: 2
		}
	</code>
</pre>

<p><b>You'll note that the request body needs to be stringified. Other methods that you can use for fetch calls are DELETE, PUT, HEAD and OPTIONS</b></p>

<h5>Error Handling</h5>

<p>There’s a catch (pun intended 😉) when it comes to error handling with the Fetch API: if the request properly hits the endpoint and comes back, no error will be thrown. This means that error handling is not as simple as chaining a <code>catch</code> call at then end of your fetch promise chain.</p>

<p>Luckily though, the response object from a fetch call has an <code>ok</code> property that will be either true of false depending on the success of the request. You can then use <code>Promise.reject()</code> if <code>ok</code> is false:</p>

<pre>
	<code class="language-javascript line-numbers">
		fetch('https://jsonplaceholder.typicode.com/postsZZZ', options)
		  .then(res => {
		    if (res.ok) {
		      return res.json();
		    } else {
		      return Promise.reject({ status: res.status, statusText: res.statusText });
		    }
		  })
		  .then(res => console.log(res))
		  .catch(err => console.log('Error, with message:', err.statusText));
	</code>
</pre>

<p>With the above example our promise will reject because we’re calling an endpoint that doesn’t exist. The chained catch call will be hit and the following will be outputted:</p>

<pre>
	<code class="language-javascript line-numbers">
		"Error, with message: Not Found"
	</code>
</pre>

<h4>Fetch + Async/Await</h4>

<p>Since Fetch is a promise-based API, using <code>async</code> functions is a great option to make your code even easier to reason about and synchronous-looking. Here for example is an <strong>async/await</strong> function that performs a simple <strong>GET</strong> request and extracts the usernames from the returned JSON response to then log the result at the console:</p>

<pre>
	<code class="language-javascript line-numbers">
		async function fetchUsers(endpoint) {
		  const res = await fetch(endpoint);
		  let data = await res.json();

		  data = data.map(user => user.username);

		  console.log(data);
		}

		fetchUsers('https://jsonplaceholder.typicode.com/users');
	</code>
</pre>

<p>Or, you could just return a promise from your async/await function and then you’d have the ability to keep-on chaining <code>then</code> calls after calling the function:</p>

<pre>
	<code class="language-javascript line-numbers">
		async function fetchUsers(endpoint) {
		  const res = await fetch(endpoint);
		  const data = await res.json();

		  return data;
		}

		fetchUsers('https://jsonplaceholder.typicode.com/users')
		  .then(data => {
		    console.log(data.map(user => user.username));
		  });
	</code>
</pre>

<p class="info-box"> Calling <em>json()</em> returns a promise so in the above example, when we <code class="h">return data</code> in the async function, we're returning a promise.</p>

<p>And then again you could also throw an error if the response’s <em>ok</em> is false and catch the error as usual in your promise chain:</p>

<pre>
	<code class="language-javascript line-numbers">
		async function fetchUsers(endpoint) {
		  const res = await fetch(endpoint);

		  if (!res.ok) {
		    throw new Error(res.status); // 404
		  }

		  const data = await res.json();
		  return data;
		}

		fetchUsers('https://jsonplaceholder.typicode.com/usersZZZ')
		  .then(data => {
		    console.log(data.map(user => user.website));
		  })
		  .catch(err => console.log('Ooops, error', err.message));
	</code>
</pre>

<pre>
	<code class="language-javascript line-numbers">
		Ooops, error 404
	</code>
</pre>


<h3>Polyfills</h3>

<ul><li>If you need to support older browsers, like Internet Explorer 11, you’ll need to use a Fetch polyfill <a href="https://github.com/github/fetch">like this one from Github</a>.</li><li>If you need to use Fetch in Node.js, two of the most popular options are <a href="https://github.com/matthew-andrews/isomorphic-fetch">isomorphic-fetch</a> and <a href="https://github.com/bitinn/node-fetch">node-fetch</a>.</li></ul>
