{% set works = [
	{
		title: 'Inffinder',
		logo: 'inffinder',
		link: 'http://inffinder.com/',
		descr: 'Website about some big oil things',
		img: [
			{imgItem :'inffinder'}
		]
	},
	{
		title: 'NoWayOut',
		logo: 'nwo',
		link: 'https://www.nowayout.ae/',
		descr: 'Escape room website',
		img: [
			{imgItem :'nwoa'},
			{imgItem :'nwod'}
		]
	},
	{
		title: 'Enescape',
		logo: 'enescape',
		link: 'https://melbourne.enescape.com/',
		descr: 'Escape room agregator',
		img: [
			{imgItem :'enescape'}
		]
	},
	{
		title: 'Semaz',
		logo: 'semaz',
		link: 'http://www.semaz.kz/ru',
		descr: 'Website about big trucks',
		img: [
			{imgItem :'semaz'}
		]
	},
	{
		title: 'Daewoobus',
		logo: 'daewoo',
		link: 'http://www.daewoobus.kz/ru',
		descr: 'Website about daewoo buses',
		img: [
			{imgItem :'daewoobus'}
		]
	},
	{
		title: 'Nomad',
		logo: 'nomad',
		link: 'http://www.hotelnomad.kz/',
		descr: 'Website about hotels',
		img: [
			{imgItem :'nomad'}
		]
	},
	{
		title: 'Incrify',
		logo: 'incrify',
		link: 'https://www.incrify.com/',
		descr: 'Corporate website',
		img: [
			{imgItem :'incrify'}
		]
	}
]
%}


{% set global = {

	name: 'Roman',
	surname: 'Yakovenko',
	location: '@',
	locationLink: 'https://www.google.com/maps/place/data=!3m1!4b1!4m5!3m4!1s0x40d4c49afe7caa71:0x10e58a34c8ec2b96!8m2!3d50.4153964!4d30.6935992',
	email: 'r.y.fdev@gmail.com',
	phone: '+38 063 186 69 62',
	phoneLink: 'tel:+380631866962',
	avatar: '@',
	cv: {
		title: 'CV',
		name: 'bit.ly/RYDevCv',
		link: 'https://bit.ly/RYDevCv'
	},
	folio: {
		title: 'folio',
		name: 'bit.ly/RYDevFolio',
		link: 'https://bit.ly/RYDevFolio'
	}

}%}


{% set socials = [
	{
		name: 'linkedin',
		icon: 'linkedin',
		link: 'http...'
	},
	{
		name: 'linkedin',
		icon: 'linkedin',
		link: 'lioonkedin'
	}
]
%}



{% set skills = [

	{
		title: 'html',
		color: 'orange',
		icon: 'linkedin',
		skill: '95%'
	},
	{
		title: 'CSS',
		icon: 'css',
		color: 'blue',
		skill: '90%'
	},
	{
		title: 'JS',
		icon: 'js',
		color: 'yellow',
		skill: '65%'
	},
	{
		title: 'PHP',
		icon: 'php',
		color: 'blue',
		skill: '25%'
	}

] %}

{% set technologies = [

	{title: 'BEM'},
	{title: 'SASS'},
	{title: 'JQuery'},
	{title: 'YII2'},
	{title: 'NPM'},
	{title: 'Gulp'},
	{title: 'Browserstack'},
	{title: 'ES6'},
	{title: 'Vue'},
	{title: 'Git'}

] %}

