{% set works = [
	{
		title: 'Inffinder',
		logo: 'inffinder',
		link: 'http://inffinder.com/',
		descr: 'Website about some big oil things',
		img: [
			{imgItem :'inffinder'}
		]
	},
	{
		title: 'NoWayOut',
		logo: 'nwo',
		link: 'https://www.nowayout.ae/',
		descr: 'Escape room website',
		img: [
			{imgItem :'nwoa'},
			{imgItem :'nwod'}
		]
	},
	{
		title: 'Enescape',
		logo: 'enescape',
		link: 'https://melbourne.enescape.com/',
		descr: 'Escape room agregator',
		img: [
			{imgItem :'enescape'}
		]
	},
	{
		title: 'Semaz',
		logo: 'semaz',
		link: 'http://www.semaz.kz/ru',
		descr: 'Website about big trucks',
		img: [
			{imgItem :'semaz'}
		]
	},
	{
		title: 'Daewoobus',
		logo: 'daewoo',
		link: 'http://www.daewoobus.kz/ru',
		descr: 'Website about daewoo buses',
		img: [
			{imgItem :'daewoobus'}
		]
	},
	{
		title: 'Nomad',
		logo: 'nomad',
		link: 'http://www.hotelnomad.kz/',
		descr: 'Website about hotels',
		img: [
			{imgItem :'nomad'}
		]
	},
	{
		title: 'Incrify',
		logo: 'incrify',
		link: 'https://www.incrify.com/',
		descr: 'Corporate website',
		img: [
			{imgItem :'incrify'}
		]
	}
]
%}


{% set global = [
	{
		name: 'Roman',
		surname: 'Yakovenko',
		location: '@',
			locationLink: 'https://www.google.com/maps/place/data=!3m1!4b1!4m5!3m4!1s0x40d4c49afe7caa71:0x10e58a34c8ec2b96!8m2!3d50.4153964!4d30.6935992',
			email: 'r.y.fdev@gmail.com',
			phone: '+38 063 186 69 62',
			avatar: '@',
			cvLink: 'https://paradiseseeker.github.io/folio/cv.html',
			socials: [
				{
					name: 'linkedin',
					icon: 'linkedin',
					link: 'http...'
				},
				{
					name: 'linkedin',
					icon: 'linkedin',
					link: 'lioonkedin'
				}
			]
		}
	]
%}


{% set roadmap = [

	{
		title: 'HTML',
		subitem: [
			{
				title: 'Basics',
				status: '1'
			},
			{
				title: 'Semantic HTML',
				status: '1'
			},
			{
				title: 'Basic SEO',
				status: '1'
			},
			{
				title: 'Accessibility',
				status: '1'
			}
		]
	},

	{
		title: 'CSS',
		subitem: [
			{
				title: 'Basics',
				status: '1'
			},
			{
				title: 'Layouts',
				status: '1'
			},
			{
				title: 'Media-Queries',
				status: '1'
			}
		]
	},

	{
		title: 'JavaScript',
		subitem: [
			{
				title: 'Syntax',
				status: ''
			},
			{
				title: 'DOM',
				status: ''
			},
			{
				title: 'Fetch API / Ajax',
				status: ''
			},
			{
				title: 'ES6+ and modules',
				status: ''
			},
			{
				title: 'Understanding the concepts',
				status: ''
			}
		]
	},

	{
		title: 'Package Managers',
		subitem: [
			{
				title: 'npm',
				status: ''
			},
			{
				title: 'yarn',
				status: ''
			}
		]
	},

	{
		title: 'CSS Preprocessors',
		subitem: [
			{
				title: 'SASS',
				status: ''
			},
			{
				title: 'PostCSS',
				status: ''
			},
			{
				title: 'Less',
				status: ''
			}
		]
	},

	{
		title: 'CSS Frameworks',
		subitem: [
			{
				title: 'Bootstrap',
				status: '3'
			},
			{
				title: 'Materialize CSS',
				status: '3'
			},
			{
				title: 'Bulma',
				status: '3'
			},
			{
				title: 'Semanit UI',
				status: '3'
			}
		]
	},

	{
		title: 'CSS Architecture',
		subitem: [
			{
				title: 'BEM',
				status: '3'
			},
			{
				title: 'OOCSS',
				status: '3'
			},
			{
				title: 'SMACSS',
				status: '3'
			}
		]
	},

	{
		title: 'Build tools',
		subitem: [
			{
				title: 'Gulp',
				status: '3'
			},
			{
				title: 'Webpack',
				status: '3'
			},
			{
				title: 'ESLint',
				status: '3'
			}
		]
	},

	{
		title: '',
		subitem: [
			{
				title: '',
				status: ''
			},
			{
				title: '',
				status: ''
			},
			{
				title: '',
				status: ''
			}
		]
	}

]
%}



{# roadmap statuses:
	learned - learned and used
	learning - learning now
	knowABit - reading about
	forFuture - need to learn
	shit - not interested
#}


