{% set works = [
	{
		title: 'Inffinder',
		logo: 'inffinder.svg',
		accent: 'rgb(21, 25, 78)',
		link: 'http://inffinder.com/',
		linkTitle: 'Discover',
		linkTarget: '_blank',
		descr: 'Website about some big oil things',
		img: [
			{imgItem: 'inffinder.jpg'}
		]
	},
	{
		title: 'NoWayOut',
		logo: 'nwo.svg',
		accent: 'rgb(17, 24, 30)',
		link: 'https://www.nowayout.ae/',
		linkTitle: 'Discover',
		linkTarget: '_blank',
		descr: 'Escape room website',
		img: [
			{imgItem: 'nwoa.jpg'}
		]
	},
	{
		title: 'Enescape',
		logo: 'enescape.svg',
		accent: 'rgb(25, 27, 39)',
		link: 'https://melbourne.enescape.com/',
		linkTitle: 'Discover',
		linkTarget: '_blank',
		descr: 'Escape room agregator',
		img: [
			{imgItem: 'enescape.jpg'}
		]
	},
	{
		title: 'Semaz',
		logo: 'semaz.svg',
		accent: 'rgb(39, 50, 49)',
		link: 'http://www.semaz.kz/ru',
		linkTitle: 'Discover',
		linkTarget: '_blank',
		descr: 'Website about big trucks',
		img: [
			{imgItem: 'semaz.jpg'}
		]
	},
	{
		title: 'Daewoobus',
		logo: 'daewoo.svg',
		accent: 'rgb(77, 92, 105)',
		link: 'http://www.daewoobus.kz/ru',
		linkTitle: 'Discover',
		linkTarget: '_blank',
		descr: 'Website about daewoo buses',
		img: [
			{imgItem: 'daewoobus.jpg'}
		]
	},
	{
		title: 'Nomad',
		logo: 'nomad.svg',
		accent: 'rgb(46, 49, 51)',
		link: 'http://www.hotelnomad.kz/',
		linkTitle: 'Discover',
		linkTarget: '_blank',
		descr: 'Website about hotels',
		img: [
			{imgItem: 'nomad.jpg'}
		]
	},
	{
		title: 'BeautyPro',
		logo: 'bpa.svg',
		accent: 'rgb(46, 49, 51)',
		link: 'https://www.bpa.kz/',
		linkTitle: 'Discover',
		linkTarget: '_blank',
		descr: 'Website about beaty',
		img: [
			{imgItem: 'bpa.jpg'}
		]
	},
	{
		title: 'Incrify',
		logo: 'incrify.svg',
		accent: 'rgb(44, 16, 17)',
		link: 'https://www.incrify.com/',
		linkTitle: 'Discover',
		linkTarget: '_blank',
		descr: 'Corporate website',
		img: [
			{imgItem: 'incrify.jpg'}
		]
	},
	{
		title: 'Next Work',
		logo: 'next.svg',
		accent: 'rgb(1, 1, 1)',
		link: '#home',
		linkTitle: 'Hire me',
		linkTarget: '',
		descr: 'A dedicated space for a future project',
		img: [
			{imgItem: 'dummy.png'}
		]
	}
]
%}


{% set global = {

	name: 'Roman',
	surname: 'Yakovenko',
	location: '@',
	locationLink: 'https://www.google.com/maps/place/data=!3m1!4b1!4m5!3m4!1s0x40d4c49afe7caa71:0x10e58a34c8ec2b96!8m2!3d50.4153964!4d30.6935992',
	email: 'r.y.fdev@gmail.com',
	phone: '+38 063 186 69 62',
	phoneLink: 'tel:+380631866962',
	avatar: '@',
	cv: {
		title: 'CV',
		name: 'bit.ly/RYDevCv',
		link: 'https://bit.ly/RYDevCv',
		downloadlink: './CV Roman Yakovenko.pdf'
	},
	folio: {
		title: 'folio',
		name: 'bit.ly/RYDevFolio',
		link: 'https://bit.ly/RYDevFolio'
	}

}%}

{% set socials = [
	{
		name: 'telegram',
		icon: 'telegram',
		content: '@nevejestvo',
		link: 'https://t.me/Nevejestvo'
	},
	{
		name: 'linkedin',
		icon: 'linkedin',
		content: 'linkedin.com/in/nevejestvo',
		link: 'https://www.linkedin.com/in/nevejestvo/'
	},
	{
		name: 'github',
		icon: 'github',
		content: 'github.com/ParadiseSeeker',
		link: 'https://github.com/ParadiseSeeker'
	}
]%}

{% set socialsHero = [
	{
		name: 'mail',
		icon: 'at1',
		content: 'r.y.fdev@gmail.com',
		link: 'mailto:r.y.fdev@gmail.com'
	},
	{
		name: 'telegram',
		icon: 'telegram1',
		content: '@nevejestvo',
		link: 'https://t.me/Nevejestvo'
	},
	{
		name: 'linkedin',
		icon: 'linkedin2',
		content: 'linkedin.com/in/nevejestvo',
		link: 'https://www.linkedin.com/in/nevejestvo/'
	},
	{
		name: 'github',
		icon: 'github1',
		content: 'github.com/ParadiseSeeker',
		link: 'https://github.com/ParadiseSeeker'
	}
]%}

{% set skills = [

	{
		title: 'html',
		color: 'orange',
		icon: 'html',
		skill: '95%'
	},
	{
		title: 'CSS',
		icon: 'css',
		color: 'blue',
		skill: '90%'
	},
	{
		title: 'JS',
		icon: 'js',
		color: 'yellow',
		skill: '65%'
	},
	{
		title: 'PHP',
		icon: 'php',
		color: 'blue',
		skill: '25%'
	}

] %}

{% set technologies = [

	{title: 'BEM'},
	{title: 'SASS'},
	{title: 'JQuery'},
	{title: 'ES6'},
	{title: 'Vue.js'},
	{title: 'YII2'},
	{title: 'NPM'},
	{title: 'Gulp'},
	{title: 'Webpack'},
	{title: 'Browserstack'},
	{title: 'Git'}

] %}

