{% set roadmap = [

	{
		title: 'Основы',
		file: 'basics',
		subitem: [
			{
				title: 'Как устроен интернет',
				status: 'learned',
				file: 'basicsHowInternetWorks'
			},
			{
				title: 'Как устроен WEB',
				status: 'learned',
				file: 'basicsHowWebWorks'
			},
			{
				title: 'Как работает браузер',
				status: 'learned',
				file: 'basics'
			},
			{
				title: 'HTTP Status codes',
				status: 'learned',
				file: 'basicsHttpCodes'
			},
			{
				title: 'Semantic HTML',
				status: 'learned',
				file: 'basicsHowInternetWorks'
			},
			{
				title: 'Cookies',
				status: 'learned',
				file: 'basicsCookies'
			},
			{
				title: 'Web Storage',
				status: 'learned',
				file: 'basicsWebStorage'
			},
			{
				title: 'Basic SEO',
				status: 'learned',
				file: 'basicsHowInternetWorks'
			},
			{
				title: 'Accessibility',
				status: 'knowABit',
				file: 'basicsHowInternetWorks'
			}
		]
	},
	{
		title: 'JavaScript',
		file: 'js',
		subitem: [
			{
				title: 'EnginesV8',
				status: 'learned',
				file: 'jsEnginesV8'
			},
			{
				title: 'JSON',
				status: 'learned',
				file: 'jsJSON'
			},
			{
				title: 'Syntax',
				status: 'learned',
				file: 'jsSyntax'
			},
			{
				title: 'Scroll',
				status: 'learned',
				file: 'jsScroll'
			},
			{
				title: 'Storage',
				status: 'learned',
				file: 'jsStorage'
			},
			{
				title: 'Objects',
				status: 'learned',
				file: 'jsObjects'
			},
			{
				title: 'Arrays',
				status: 'learned',
				file: 'jsArrays'
			},
			{
				title: 'Regular Expressions',
				status: 'learned',
				file: 'jsRegExp'
			},
			{
				title: 'Data Types',
				status: 'learned',
				file: 'jsDataTypes'
			},
			{
				title: 'This',
				status: 'learned',
				file: 'jsThis'
			},
			{
				title: 'Event Loop',
				status: 'learned',
				file: 'jsEventLoop'
			},
			{
				title: 'Hoisting',
				status: 'learned',
				file: 'jsHoisting'
			},
			{
				title: 'Closures',
				status: 'learned',
				file: 'jsClosures'
			},
			{
				title: 'Try/Catch',
				status: 'learned',
				file: 'jsTryCatch'
			},
			{
				title: 'Promises',
				status: 'learned',
				file: 'jsPromises'
			},
			{
				title: 'Async/Await',
				status: 'learned',
				file: 'jsAsync'
			},
			{
				title: 'Fetch',
				status: 'learned',
				file: 'jsFetch'
			},
			{
				title: 'Axios',
				status: 'learned',
				file: 'jsAxios'
			},
			{
				title: 'Array Reduce',
				status: 'learned',
				file: 'jsArrayReduce'
			},
			{
				title: 'ES6',
				status: 'learned',
				file: 'jsES6'
			},
			{
				title: 'ES6 Modules',
				status: 'learned',
				file: 'jsModules'
			},
			{
				title: 'Numbers',
				status: 'learned',
				file: 'jsNumbers'
			},
			{
				title: 'DOM',
				status: 'learned',
				file: 'jsDOM'
			},
			{
				title: 'Fetch API / Ajax',
				status: 'learned',
				file: 'js'
			},
			{
				title: 'ES6+ and modules',
				status: 'learned',
				file: 'js'
			},
			{
				title: 'Language concepts',
				status: 'learned',
				file: 'js',
				subitem2: [
					{title: 'Hoisting'},
					{title: 'Event Bubbling'},
					{title: 'Scope'},
					{title: 'Prototype'},
					{title: 'Shadow Dom'},
					{title: 'strict'},
					{title: 'how browsers work'},
					{title: 'DNS'},
					{title: 'HTTP'}
				]
			}
		]
	},
	{
		title: 'HTML',
		file: 'html',
		subitem: [
			{
				title: 'Basics',
				status: 'learned',
				file: 'htmlBasics'
			},
			{
				title: 'Semantic HTML',
				status: 'learned',
				file: 'htmlBasics'
			},
			{
				title: 'Basic SEO',
				status: 'learned',
				file: 'htmlBasics'
			},
			{
				title: 'Accessibility',
				status: 'knowABit',
				file: 'htmlBasics'
			}
		]
	},

	{
		title: 'CSS',
		subitem: [
			{
				title: 'Basics',
				status: 'learned'
			},
			{
				title: 'Layouts',
				status: 'learned',
				subitem2: [
					{title: 'Floats'},
					{title: 'Positioning'},
					{title: 'Display'},
					{title: 'Box Model'},
					{title: 'CSS Grid'},
					{title: 'Flex Box'}
				]
			},
			{
				title: 'CSS3',
				status: 'learned'
			},
			{
				title: 'Media-Queries',
				status: 'learned'
			},
			{
				title: 'Crossbrowser',
				status: 'learned'
			},
			{
				title: 'Imports, variables',
				status: 'learned'
			}
		]
	},


	{
		title: 'Package Managers',
		subitem: [
			{
				title: 'npm',
				status: 'learned'
			},
			{
				title: 'yarn',
				status: 'knowABit'
			}
		]
	},

	{
		title: 'CSS Preprocessors',
		subitem: [
			{
				title: 'SASS',
				status: 'learned'
			},
			{
				title: 'PostCSS',
				status: 'knowABit'
			},
			{
				title: 'Less',
				status: 'shit'
			}
		]
	},

	{
		title: 'CSS Frameworks',
		subitem: [
			{
				title: 'Bootstrap',
				status: 'knowABit'
			},
			{
				title: 'Materialize CSS',
				status: 'knowABit'
			},
			{
				title: 'Bulma',
				status: 'knowABit'
			},
			{
				title: 'Semanit UI',
				status: 'knowABit'
			}
		]
	},

	{
		title: 'CSS Architecture',
		subitem: [
			{
				title: 'BEM',
				status: 'learned'
			},
			{
				title: 'OOCSS',
				status: 'knowABit'
			},
			{
				title: 'SMACSS',
				status: 'knowABit'
			}
		]
	},

	{
		title: 'Build tools',
		subitem: [
			{
				title: 'Gulp',
				status: 'learned'
			},
			{
				title: 'Webpack',
				status: 'learned'
			},
			{
				title: 'ESLint',
				status: 'learned'
			}
		]
	},

	{
		title: 'JS Framework',
		subitem: [
			{
				title: 'React.js',
				status: 'forFuture'
			},
			{
				title: 'Vue.js',
				status: 'learning'
			},
			{
				title: 'Angular',
				status: 'shit'
			}
		]
	},

	{
		title: 'CSS in JS',
		subitem: [
			{
				title: 'Styled Components',
				status: 'learned'
			},
			{
				title: 'CSS Modules',
				status: 'learned'
			},
			{
				title: 'Emotion',
				status: 'shit'
			},
			{
				title: 'Radium',
				status: 'shit'
			},
			{
				title: 'Glamouros',
				status: 'shit'
			}
		]
	},

	{
		title: 'Testing apps',
		subitem: [
			{
				title: 'types',
				status: 'forFuture',
				subitem2: [
					{title: 'Unit'},
					{title: 'Integrational'},
					{title: 'Functional'}
				]
			},
			{
				title: 'Jest',
				status: 'forFuture'
			},
			{
				title: 'Enzyme',
				status: 'forFuture'
			},
			{
				title: 'Cypress',
				status: 'forFuture'
			},
			{
				title: 'Mocha',
				status: 'forFuture'
			},
			{
				title: 'Karma',
				status: 'forFuture'
			},
			{
				title: 'Jasmine',
				status: 'forFuture'
			}
		]
	},

	{
		title: 'PWA',
		subitem: [
			{
				title: 'Storage',
				status: 'learned'
			},
			{
				title: 'Web Sockets',
				status: 'forFuture'
			},
			{
				title: 'Service Workers',
				status: 'forFuture'
			},
			{
				title: 'Location',
				status: 'forFuture'
			},
			{
				title: 'Notification',
				status: 'forFuture'
			},
			{
				title: 'Device Orientation',
				status: 'forFuture'
			},
			{
				title: 'Payments',
				status: 'forFuture'
			},
			{
				title: 'Credentials',
				status: 'forFuture'
			}
		]
	},

	{
		title: 'App performance',
		subitem: [
			{
				title: 'PRPL Patterns',
				status: 'forFuture'
			},
			{
				title: 'RAIL Model',
				status: 'forFuture'
			},
			{
				title: 'Performance Metrics',
				status: 'learning'
			},
			{
				title: 'Light House Metrics',
				status: 'learned'
			},
			{
				title: 'Dev Tools mastering',
				status: 'learned'
			}
		]
	},

	{
		title: 'Type Checkers',
		subitem: [
			{
				title: 'TypeScript',
				status: 'forFuture'
			},
			{
				title: 'Flow',
				status: 'shit'
			}
		]
	},

	{
		title: 'Server Side Rendering',
		subitem: [
			{
				title: 'React.js',
				status: 'forFuture',
				subitem2: [
					{title: 'Next.js'},
					{title: 'After.js'}
				]
			},
			{
				title: 'Vue.js',
				status: 'learning',
				subitem2: [
					{title: 'Universal'}
				]
			},
			{
				title: 'Angular',
				status: 'shit',
				subitem2: [
					{title: 'Nuxt.js'}
				]
			}
		]
	},

	{
		title: 'Static Site Generators',
		subitem: [
			{
				title: 'Gatsby.js',
				status: 'shit'
			},
			{
				title: 'Nunjucks',
				status: 'learned'
			}
		]
	},

	{
		title: 'Desktop Apps',
		subitem: [
			{
				title: 'Electron',
				status: 'shit'
			},
			{
				title: 'Proton Native',
				status: 'shit'
			},
			{
				title: 'Carlo',
				status: 'shit'
			}
		]
	},

	{
		title: 'Mobile Apps',
		subitem: [
			{
				title: 'React Native',
				status: 'forFuture'
			},
			{
				title: 'Native Script',
				status: shit''
			}
		]
	},

	{
		title: 'Keep Learning'
	}

]
%}



{# roadmap statuses:
	learned - learned and used
	learning - learning now
	knowABit - reading about
	forFuture - need to learn
	shit - not interested
#}
