Roman Yakovenko
r.y.fdev@gmail.com
+380631866962
------------------------------------
Incrify
Web Studio
Worked on websites with different complexity and functionality: corporate website, escape rooms, escape rooms aggregator and other. Check my portfolio for more cases.
------------------------------------
Agency of Industrial Marketing
Marketing solutions
Worked on a corporate website and educational platform.
------------------------------------
National Transport University
Master degree
Information management systems and technologies.
Qualication of Software Engineer.
------------------------------------
Experience Summary
In summary, I can say that with my knowledge of bundlers, template engines, preprocessors, JavaScript, and different CSS and JavaScript libraries I can implement any designer`s fantasy (on a reasonable redistribution).
------------------------------------
Greetings!

I would like to introduce myself as a candidate for the HTML coder position within @WePlay! Esports company.

With over two years of experience in front-end development, I feel I would be a perfect match for your vacancy.

I am a frontend developer who has a wide range of front end skills. I have implemented many beautiful and effective designs. I enjoy writing optimized, cross-browser, most device compatible websites with excellent interactions and nice animations. I also keep up with new frontend things and like to study and experiment with them.

At the moment I`m a freelancer who wants back to the office and becomes a part of a team.

Thank you kindly for taking the time to review my application. If you require any further information, feel free to contact me. In any event, I look forward to hearing from you as the recruitment process progresses.

Yours sincerely, Roman.
------------------------------------
