Roman Yakovenko
r.y.fdev@gmail.com
+380631866962

Incrify
Web Studio
Worked on website for escape rooms. Created websites with different complexity and functionality: corporate, escape rooms aggregator and other check CV for more projects.

Agency of Industrial Marketing
Marketing solutions
Worked on corporate website with user cabinet, educational platform

National Transport University
Information technologies
Master degree
Information management systems and technologies.
Qualication of Software Engineer.

Transfer designs from layout to browser.

Greetings!

I would like to introduce myself as a candidate for the HTML coder position within @WePlay! Esports company.

With over two year’s experience of front-end development, I feel I would be a perfect match for your vacancy.

I am a frontend developer who has a wide range of front end skills. I have implemented many beautiful and effective designs. I enjoy writing optimised, cross-browser, most device compatible websites with excellent interactions and nice animations.

At the moment I`m a freelancer who wants back to the office and becomes a part of a team.

Thank you kindly for taking the time to review my application. If you require any further information, feel free to contact me. In any event, I look forward to hearing from you as the recruitment process progresses.
