<div class="cv-left__list">
	<div class="cv-left__item">
		<div class="cv-left__icon">{{icon.i('gamepad')}}</div>
	</div>

	<div class="cv-left__item">
		<div class="cv-left__icon">{{icon.i('earphones')}}</div>
	</div>

	<div class="cv-left__item">
		<div class="cv-left__icon">{{icon.i('puzzle')}}</div>
	</div>

	<div class="cv-left__item">
		<div class="cv-left__icon">{{icon.i('cake')}}</div>
	</div>

	<!-- <div class="cv-left__item">
		<div class="cv-left__icon">{{icon.i('fishing')}}</div>
	</div> -->

	<!-- <div class="cv-left__item">
		<div class="cv-left__icon">{{icon.i('bycicle')}}</div>
	</div> -->
</div>
