<!-- <div class="cv-right__item">
	<div class="cv-right__year">
		<span class="cv-right__year-begin">2017 <span class="cv-right__year-month">aug</span></span>
		-
		<span class="cv-right__year-end">2017 <span class="cv-right__year-month">spt</span></span>
	</div>
	<div class="cv-right__info">
		<div class="cv-right__info-title">Coderiver course of HTML Coder</div>
		<div class="cv-right__info-subtitle2">Learned: <br> BEM, SASS, Template engines, Animations, JS logic</div>
	</div>
</div> -->

<div class="cv-right__item cv-right__item--single">

	<div class="cv-right__info">
		<div class="cv-right__info-title">
			National Transport University
			<div class="cv-right__year">
				<div class="cv-right__year-item"> (2011 <span>spt</span></div>
				<div class="cv-right__year-item">2016 <span>aug</span>)</div>
			</div>
		</div>
		<div class="cv-right__info-subtitle">Master degree</div>
		<div class="cv-right__info-subtitle2">Information management systems and technologies.<br>Qualification of Software Engineer.</div>
	</div>
</div>
