<div class="cv-right__item cv-right__item--single">
	<div class="cv-right__info">
		<div class="cv-right__info-subtitle2">
			<p>Transfer designs from layout to browser that are cross-browser, any device compatible, with great performance, excellent interactions, and nice animations;</p>
			<p>Write reusable and human-readable code;</p>
			<p>Collaborate with a team of developers, designers and marketers;</p>
			<p>Implement new technologies, frameworks, libraries and features;</p>
		</div>
	</div>
</div>
