.cv-right
	padding: $globalGap
	width: 100%
	display: flex
	flex-direction: column
	justify-content: space-between

	&__container
		position: relative
		margin-bottom: $globalGap
		margin-bottom: 42px
		position: relative
		// box-shadow: -4px 3px 0px -4px $cvBorderColor
		// border-left: $borderWidth solid $cvBorderColor

		&:last-child
			margin-bottom: 0

		// +before
		// 	position: absolute
		// 	top: 30px
		// 	bottom: 0
		// 	left: 0
		// 	width: 1px
		// 	background-color: #000

		&--2col
			// +before(none)
			// border-left: none

			width: 100%
			display: flex
			align-items: stretch

			.cv-right__title
				margin-bottom: 2px


	&__col
		position: relative
		// box-shadow: -4px 0 0px -4px $cvBorderColor
		// border-left: $borderWidth solid $cvBorderColor
		width: 100%

		display: flex
		flex-direction: column
		// +before
		// 	position: absolute
		// 	top: 30px
		// 	bottom: 0
		// 	left: 0
		// 	width: 1px
		// 	background-color: #000



		.cv-skills, .cv-technologies
			padding-left: 10px
		&:first-child
			padding-right: $globalGap

	&__title
		width: 100%
		display: flex
		justify-content: space-between
		position: relative
		margin-bottom: 16px
		font-family: $f2
		background-color: $cvBg
		// +after
		// 	position: absolute
		// 	top: 0
		// 	bottom: 0
		// 	margin: auto 0
		// 	right: 0
		// 	width: 100%
		// 	height: $borderWidth
		// 	background-color: $cvBorderColor
		// 	z-index: 0

		span
			display: flex
			align-items: center
			// padding: 0 8px
			// box-shadow: 0 0 0px 1px $cvBorderColor
			// border: $borderWidth solid $cvBorderColor
			// border-left: none

			color: $cvText
			font-size: $pt18
			line-height: $pt18
			letter-spacing: 1.4px
			font-family: $f1
			font-weight: 500
			text-transform: uppercase
			background-color: $cvBg
			// z-index: 1

	&__title-icon
		display: none

		height: 36px
		width: 36px
		display: flex
		border: $borderWidth solid $cvBorderColor
		background-color: $cvBg
		padding: 4px
		overflow: hidden
		z-index: 1
		svg
			width: 100%
			fill: $cvText

	&__item
		display: flex
		position: relative
		margin-bottom: 38px
		&:last-child
			margin-bottom: 0

		&--single
			padding-left: 0
			+after(none)
			+before(none)
			.cv-right__info
				+before(none)
			.cv-right__info-title
				border-bottom: none

	&__info
		width: 100%
		display: flex
		flex-direction: column
		position: relative
		border-left: $borderWidth solid $cvBorderColor

	&__info-responsibilities
		width: 100%
		display: flex
		flex-direction: column
		position: relative


	&__info-title
		padding-left: 6px
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 4px
		margin-bottom: 10px
		font-weight: 700
		font-family: $f3
		color: $cvText
		font-size: $pt18
		line-height: $pt18
		border-bottom: 1px solid $cvBorderColor
		a
			color: $cvText
			text-decoration: none

	&__info-subtitle
		display: flex
		justify-content: space-between
		align-items: center
		padding-left: 8px
		color: rgba(16,16,16,0.9)
		font-weight: 700
		font-family: $f3
		font-size: $pt16
		line-height: $pt16

	&__info-subtitle2
		padding-left: 8px
		font-family: $f5
		font-size: $pt16
		line-height: $pt20
		text-align: justify
		color: $cvText
		font-weight: 300
		margin-bottom: 12px
		&:last-child
			margin-bottom: 0
		a
			color: $cvText
			text-decoration: none
			text-decoration: underline
			font-style: italic

		p
			margin: 0
			width: 100%
			// margin-left: 4px
			padding: 4px 0
			display: flex

			font-family: $f3
			font-size: $pt16
			line-height: $pt20

			&:last-child
				margin-bottom: 0

	&__info-stack
		margin-left: 10px

		display: inline-flex
		gap: 6px

		background-color: $cvBg
		font-family: $f3
		color: $cvText
		white-space: nowrap
		align-self: start

		a
			font-family: $f1
			font-size: $pt14
			color: rgba($cvText, 0.75)

	&__year
		display: flex
		position: relative
		background-color: $cvBg
		font-family: $f3
		color: $cvText
		white-space: nowrap

	&__year-item
		position: relative
		display: flex
		align-items: center
		font-size: $pt14
		line-height: $pt14
		&:after
			content: "-"
			padding: 0 4px
		&:last-child
			&:after
				content: none
		span
			padding-left: 1px
			font-size: $pt12
			line-height: $pt16
			align-self: flex-end
