.cv-right
	padding: 30px
	width: 100%
	display: flex
	flex-direction: column
	justify-content: space-between

	&__container
		margin-bottom: 20px
		position: relative
		box-shadow: -5px 0 0px -4px $cvBorderColor
		&:last-child
			margin-bottom: 0

		&--2col
			border-left: none
			width: 100%
			display: flex

	&__col
		box-shadow: -5px 0 0px -4px $cvBorderColor
		width: 100%
		.cv-skills, .cv-technologies
			padding-left: 10px
		&:first-child
			padding-right: 30px
		&:last-child

	&__title
		width: 100%
		display: flex
		justify-content: space-between
		position: relative
		margin-bottom: 12px
		font-family: $f2
		background-color: $cvBg
		+after
			position: absolute
			top: 0
			bottom: 0
			margin: auto 0
			right: 0
			width: 100%
			height: $borderWidth
			background-color: $cvBorderColor
			z-index: 0
		span
			display: flex
			align-items: center
			padding: 0 8px
			// border-top: $borderWidth solid $cvBorderColor
			// border-bottom: $borderWidth solid $cvBorderColor
			// border-right: 0.1px solid $cvBorderColor
			// border-left: 1px solid $cvBorderColor
			box-shadow: 0 0 0px 1px $cvBorderColor
			color: $cvText
			font-size: $pt18
			line-height: $pt18
			letter-spacing: 1.4px
			font-family: $f1
			font-weight: 500
			text-transform: uppercase
			background-color: $cvBg
			z-index: 1

	&__title-icon
		height: 36px
		width: 36px
		display: flex
		border: $borderWidth solid $cvBorderColor
		background-color: $cvBg
		padding: 4px
		overflow: hidden
		z-index: 1
		svg
			width: 100%
			fill: $cvText

	&__item
		display: flex
		position: relative
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0

		&--single
			padding-left: 0
			+after(none)
			+before(none)
			.cv-right__info
				+before(none)
			.cv-right__info-title
				border-bottom: none

	&__info
		width: 100%
		display: flex
		flex-direction: column
		position: relative
		+before(none)
			position: absolute
			top: 0
			bottom: 0
			margin: auto 0
			left: 0
			width: 1px
			height: 100%
			background-color: rgba($cvBorderColor, 0.5)

	&__info-title
		padding-left: 10px
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 4px
		margin-bottom: 10px
		font-weight: 700
		font-family: $f3
		color: $cvText
		font-size: $pt18
		line-height: $pt18
		border-bottom: 1px solid rgba($cvBorderColor, 0.5)

	&__info-subtitle
		display: flex
		justify-content: space-between
		align-items: center
		padding-left: 10px
		margin-bottom: 6px
		color: rgba(16,16,16,0.9)
		font-weight: 700
		font-family: $f3
		font-size: $pt16
		line-height: $pt16

	&__info-subtitle2
		padding-left: 20px
		font-family: $f5
		font-size: $pt16
		line-height: $pt16
		text-align: justify
		color: $cvText
		font-weight: 300
		margin-bottom: 12px
		&:last-child
			margin-bottom: 0
		a
			color: $cvText
			text-decoration: none

		p
			width: 100%
			display: flex
			position: relative
			margin-left: 10px
			padding-right: 10px
			margin-bottom: 4px
			&:last-child
				margin-bottom: 0
			+before
				position: absolute
				left: -18px
				top: 6px
				width: 5px
				height: 5px
				background-color: $cvBorderColor
				border-radius: 50%

	&__year
		display: flex
		position: relative
		margin-left: 10px
		background-color: $cvBg
		font-family: $f3
		color: $cvText
		white-space: nowrap

	&__year-item
		position: relative
		display: flex
		align-items: center
		font-size: $pt14
		line-height: $pt14
		&:after
			content: "-"
			padding: 0 4px
		&:last-child
			&:after
				content: none
		span
			padding-left: 1px
			font-size: $pt12
			line-height: $pt12
			align-self: flex-end
