.svg-arrow {
  font-size: 1.41em;
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.svg-arrowBig {
  font-size: 1.21em;
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.svg-check {
  font-size: 1.36em;
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.svg-cv2 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-cv3 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-facebook {
  font-size: 0.54em;
  width: 0.54em;
  height: 1em;
  fill: initial;
}
.svg-github1 {
  font-size: 0.99em;
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.svg-google {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-linkedin {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-linkedin1 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-linkExternal {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-phone {
  font-size: 0.56em;
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.svg-telegram {
  font-size: 1.2em;
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.svg-telegram1 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-at {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-bycicle {
  font-size: 1.49em;
  width: 1.49em;
  height: 1em;
  fill: initial;
}
.svg-code {
  font-size: 1.32em;
  width: 1.32em;
  height: 1em;
  fill: initial;
}
.svg-cog {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-cv {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-cv1 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-earphones {
  font-size: 0.95em;
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.svg-education2 {
  font-size: 1.66em;
  width: 1.66em;
  height: 1em;
  fill: initial;
}
.svg-fishing {
  font-size: 0.98em;
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.svg-gamepad {
  font-size: 1.51em;
  width: 1.51em;
  height: 1em;
  fill: initial;
}
.svg-gamepad2 {
  font-size: 1.67em;
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.svg-github {
  font-size: 1.04em;
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.svg-origami {
  font-size: 1.14em;
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.svg-phone2 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-pin {
  font-size: 0.72em;
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.svg-puzzle {
  font-size: 1.12em;
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.svg-qr {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-skills {
  font-size: 1.08em;
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.svg-technologies {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-website {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-website21 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-workExperience {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
