.svg-arrow {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-check {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-facebook {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-google {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-linkedin {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-phone {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-telegram {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-at {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-code {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-earphones {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-education {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-gamepad {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-gamepad2 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-phone2 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-pin {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-qr {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-skills {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-we1 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-we2 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-we3 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-we4 {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
