.hero
	width: 100%
	height: 100vh
	display: flex
	padding: $globalPadding
	z-index: 3
	mix-blend-mode: color-burn

	&__container
		padding-left: 2vw
		position: relative
		z-index: z('content')
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: flex-end
		z-index: 4

	&__title
		font-family: $f4
		font-size: vw(1920, 120px)
		line-height: vw(1920, 110px)
		font-weight: 500
		user-select: none
		+textBorder(2px, $black)
		mix-blend-mode: color-burn

	&__subtitle
		user-select: none
		margin-bottom: 40px
		color: $black
		font-family: $f4
		font-size: 22px
		font-weight: 500

	&__social
		position: absolute
		bottom: 0
		right: 0
		display: flex
		align-items: flex-end

	&__social-box
		display: flex
		flex-direction: column
		margin-right: 20px
		&:last-child
			margin-right: 0

	&__social-item
		width: 30px
		height: 30px
		margin-bottom: 20px
		font-size: 16px
		font-weight: 500
		color: rgba($black,0.75)
		+tr
		&:last-child
			margin-bottom: 0
		+h
			color: rgba($black,1)
			svg
				fill: rgba($black,1)

		svg
			width: 100%
			height: 100%
			fill: rgba($black,0.75)
			+tr
