.hero
	width: 100%
	display: flex
	flex-direction: column
	justify-content: center
	position: relative

	&__title
		font-size: vw(1920, 120px)
		font-weight: 700
		+r(1024)
			font-size: vw(1024, 100px)

	&__subtitle
		font-size: vw(1920, 80px)
		font-weight: 700
		+r(1024)
			font-size: vw(1024, 60px)

	&__link
		position: absolute
		bottom: 0
		left: 0
		font-size: 20px
		font-weight: 700
		color: #FFF

	&__social
		position: absolute
		bottom: 0
		right: 0
		display: flex
		align-items: center

	&__social-item
		width: 20px
		height: 20px
		margin-right: 10px
		&:last-child
			margin-right: 0
		+h
			svg
				fill: rgba(255,255,255,1)

		svg
			width: 100%
			height: 100%
			fill: rgba(255,255,255,0.5)
			+tr



