.menu
	+cover
	position: fixed
	padding: $padH/1.5 $padW
	+trs($globalAnimSpeed)
	+scale(3)
	opacity: 0
	z-index: 999
	pointer-events: none
	display: flex
	flex-direction: column
	align-items: flex-end
	background-color: rgba($black, 0.35)

	&.active
		+scale(1)
		opacity: 1
		pointer-events: all

	.nav
		position: absolute
		top: 0
		right: 0

	&__container
		position: relative
		width: 100%
		height: 100%

	&__box
		+cover

	&__title
		border: 1px solid red
		position: absolute
		bottom: 0
		left: 0

		display: flex
		font-family: $f5
		font-size: vw(1920, 120px)
		line-height: vw(1920, 110px)
		font-weight: 500
		user-select: none
		// +textBorder(2px, $white)
		white-space: nowrap
		transform-origin: top left
		+rotate(-90)
		+r(768)
			font-size: $padH/1.45
			line-height: vw(1920, 139px)

	&__subtitle
		white-space: nowrap
		user-select: none
		margin-bottom: 40px
		color: $black
		font-family: $f5
		font-size: 22px
		font-weight: 500
		+r(768)
			font-size: vw(768, 60px)
			line-height: vw(1920, 60px)

	&__socials
		position: absolute
		bottom: 0
		right: 0
		width: 100%
		display: flex
		flex-direction: column
		align-items: flex-end

	&__socials-item
		width: 40px
		height: 40px
		margin-bottom: 10px
		font-size: 16px
		font-weight: 500
		color: rgba($white,0.75)
		+tr
		&:first-child
			position: absolute
			bottom: 0
			left: 0
			margin-bottom: 0
		&:last-child
			margin-bottom: 0
		+h
			color: rgba($white,1)
			svg
				fill: rgba($white,1)

		svg
			width: 100%
			height: 100%
			fill: rgba($white,0.75)
			+tr

