.logo
	border: 6px solid #fff
	position: fixed
	top: vw(1920, 100px)
	left: vw(1920, 100px)
	padding: 10px
	// border-radius: 50%
	font-size: 40px
	line-height: 40px
	font-weight: 900
	background-color: black
	z-index: 1000

