.logo
	padding: 14px 10px
	display: flex
	align-items: center
	justify-content: center
	border: 3px solid $white
	font-family: $f1
	font-size: 20px
	line-height: 40px
	font-weight: 900
	color: $pink
	z-index: 1000
	user-select: none
	+h
		cursor: pointer
	span
		margin: 0 4px
		font-size: 32px
		line-height: 26px
		color: $black
		font-weight: 900
		font-family: $f3
		text-transform: uppercase
