.logo
	border: 5px solid #fff
	position: fixed
	top: $globalPadding
	right: $globalPadding
	padding: 10px
	// border-radius: 50%
	font-size: 40px
	line-height: 40px
	font-weight: 900
	color: #FFF
	background-color: black
	z-index: 1000
	user-select: none
	+h
		cursor: pointer

