.pet
	z-index: 1001
	position: fixed
	top: 100px
	left: 100px
	width: 100px
	height: 70px
	display: flex
	border-radius: 50%

	&__body
		z-index: 1002
		position: absolute
		top: 0
		left: 0
		border-radius: 50%
		width: 100%
		height: 100%
		background-color: #000
		box-shadow: 0 0 5px 1px white
		animation: glowing 3s infinite

	&__mouth
		border-bottom: 1px solid white
		width: 10px
		border-radius: 3px
		height: 6px
		position: absolute
		top: 55%
		left: 0
		right: 0
		margin: 0 auto

	&__eye
		position: absolute
		top: 28%
		width: 22px
		height: 22px
		border-radius: 50%
		background-color: #000

		&--left
			left: 17%

		&--right
			right: 17%

	&__eye-dot
		position: absolute
		left: 5px
		top: 5px
		width: 6px
		height: 6px
		background-color: white
		border-radius: 50%
		transform-origin: center left
		box-shadow: 0 0 3px 1px white

	&__leg
		z-index: -1
		position: absolute
		bottom: -9px
		width: 20px
		height: 22px
		border-radius: 50%
		background-color: #000
		box-shadow: 0 0 0 1px white

		&--left
			left: 20%

		&--right
			right: 20%

	&__message
		position: absolute
		bottom: calc(100% + 10px)
		right: 100%
		max-width: 260px
		padding: 10px
		border: 1px solid #fff
		border-radius: 50%
		font-family: $fc
		background-color: #000
		box-shadow: 0 0 3px 1px white

		&:before, &:after
			content: ""
			position: absolute
			border: 1px solid #fff
			border-radius: 50%
			background-color: #000
		&:before
			bottom: -12px
			right: -12px
			width: 16px
			height: 16px
			box-shadow: 0 0 2px 1px white

		&:after
			bottom: -19px
			right: -19px
			width: 8px
			height: 8px
			box-shadow: 0 0 1px 1px white



+keyframes(glowing)
	0%
		box-shadow: 0 0 4px 1px white
	50%
		box-shadow: 0 0 7px 1px white
	100%
		box-shadow: 0 0 4px 1px white
